flows.json
[
    {
        "id": "78dff30b3e70cb71",
        "type": "tab",
        "label": "pictimeTest",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dca602f4409aa4fa",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cd55794b.d22868",
        "type": "tab",
        "label": "Schoolfotografie",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e4762531.a573f8",
        "type": "tab",
        "label": "fotoposter work Flow ",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8ee901f.547468",
        "type": "tab",
        "label": "Klanten DataBase",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d3cfa1f6.4aa078",
        "type": "subflow",
        "name": "Subflow 3",
        "info": "",
        "in": [
            {
                "x": 60,
                "y": 360,
                "wires": [
                    {
                        "id": "b7f8d63e.0762c"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 820,
                "y": 340,
                "wires": [
                    {
                        "id": "d7ed0c39.c739",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "cdd39d1f.f30da",
        "type": "group",
        "z": "cd55794b.d22868",
        "name": "Cam Sync",
        "style": {
            "stroke": "#92d04f",
            "fill": "#ffdf7f",
            "label": true,
            "color": "#6f2fa0"
        },
        "nodes": [
            "70b2d897.6dd96",
            "fd002cdd.2d24e8",
            "43fafb2e.5ed64c",
            "d621b257.54d74",
            "2a0d7908.87dbde"
        ],
        "x": 74,
        "y": 2119,
        "w": 912,
        "h": 182
    },
    {
        "id": "ad8faa87.ec0ee8",
        "type": "group",
        "z": "cd55794b.d22868",
        "name": "Store shoot",
        "style": {
            "stroke": "#92d04f",
            "fill": "#ffdf7f",
            "label": true,
            "color": "#6f2fa0"
        },
        "nodes": [
            "5897544a.c27fa4",
            "8950625b.187208",
            "a2e634e6.4a6548",
            "570717de.8d5228",
            "72eea392.45fc2c",
            "1babdd83.6ba232",
            "acacdcbf.be41f",
            "916abc26.1b89e",
            "21d11546.d7faea",
            "e0875bef.fe987",
            "6757bdff.0a7dc4",
            "8eb1ea32.2d8de",
            "28701bdc.464854"
        ],
        "x": 14,
        "y": 1299,
        "w": 1532,
        "h": 222
    },
    {
        "id": "34219648.68b2d2",
        "type": "group",
        "z": "cd55794b.d22868",
        "name": "Opname module",
        "style": {
            "label": true,
            "stroke": "#92d04f",
            "fill": "#ffdf7f",
            "color": "#6f2fa0"
        },
        "nodes": [
            "4d030adc.1f70e4",
            "7dd3c32a.2daca4",
            "ac83b1eb.7e39f",
            "8cebb90.d075848",
            "5a74f19a.832898",
            "15c618bf.9faa27",
            "dd603d2.505184",
            "5d9a0cd1.62db9c",
            "cea24319.531ea",
            "7e891fcc.370c1",
            "322c97c2.9c48f",
            "935c641.beb7998",
            "4981d535.47513c"
        ],
        "x": 14,
        "y": 919,
        "w": 1362,
        "h": 342
    },
    {
        "id": "36ea01e7.5b4cee",
        "type": "group",
        "z": "cd55794b.d22868",
        "name": "Shoot software",
        "style": {
            "stroke": "#92d04f",
            "fill": "#ffdf7f",
            "label": true,
            "color": "#6f2fa0"
        },
        "nodes": [
            "354cc6d.8d5a1ba",
            "9874743a.add768",
            "735b2c65.ec7dc4",
            "12d12942.ec03df",
            "981f2b57.08b7a",
            "1b124c9d.7ebbb3",
            "7ea1826a.166a8c",
            "2f1bb4fd.ae172c",
            "9ffd43ab.a710d",
            "96d10405.908a8",
            "3976a740.6bd498",
            "9b9399ab.15d0f8",
            "70df9fa4.0be62",
            "c871fa76.922e8",
            "5d98610b.0286e8",
            "e6be17a2.a36e1",
            "6c13f7d8.bbfb18",
            "bf7bb902.caa25",
            "4af73ae1.12ea94",
            "38b83e11.ac8aaa",
            "b02e3d86.b1d85",
            "27ae42be.4982e6",
            "3f1ed343.7afb94",
            "d412a530.dd8d78",
            "402ebe61.172cc8",
            "f1751431.6ec13"
        ],
        "x": 14,
        "y": 259,
        "w": 1522,
        "h": 622
    },
    {
        "id": "9832714f.f82cf",
        "type": "group",
        "z": "cd55794b.d22868",
        "name": "Dev and reset button",
        "style": {
            "stroke": "#92d04f",
            "fill": "#ffdf7f",
            "label": true,
            "color": "#6f2fa0"
        },
        "nodes": [
            "6a3551b6.bf0e2",
            "26c18ac1.38879e",
            "5aeaac1c.d4611c",
            "2d716729.0fb2a8",
            "27878e95.8f57ba",
            "a6206193.9829d8",
            "906c61da.b0b1e",
            "409d695.b4fa498",
            "79e2dad2.3143fc",
            "9490d1ac.f8c0c",
            "84659d2.ea8946",
            "f683ba14.154a18",
            "a6fd11ec.89c278",
            "a62cc615.c13da8"
        ],
        "x": 24,
        "y": 1679,
        "w": 1282,
        "h": 362
    },
    {
        "id": "97c1d63a.ce2dc",
        "type": "group",
        "z": "cd55794b.d22868",
        "name": "Organizer: map maker",
        "style": {
            "stroke": "#92d04f",
            "fill": "#ffdf7f",
            "label": true,
            "color": "#6f2fa0"
        },
        "nodes": [
            "f5f45979.a62ab",
            "3ba76cde.556fcc",
            "189b2d3.481f453",
            "515a4516.11ad44",
            "b70321b3.0888e8",
            "973be4f5.7b213",
            "c38cd00d.0f68d",
            "fadcbd40.a4b0a",
            "57d37fbc.0c18a",
            "6b61b16d.b5b9b8",
            "1e9fbd9.6cfbcc2",
            "422ced9a.bbf124",
            "6182c037.0ae68",
            "d46b5a3.6ec9e28",
            "2b72d07e.5073d",
            "342cf577.b7c01a",
            "104c2914.5055b7",
            "be87e69c.8276b",
            "ac250e1c.9c46"
        ],
        "x": 34,
        "y": 2319,
        "w": 1442,
        "h": 402
    },
    {
        "id": "63d0b15a.dac21",
        "type": "group",
        "z": "cd55794b.d22868",
        "name": "Organizer: photo devider",
        "style": {
            "stroke": "#92d04f",
            "fill": "#ffdf7f",
            "label": true,
            "color": "#6f2fa0"
        },
        "nodes": [
            "84e5a6f2.b5824",
            "9127c25.51efc4",
            "399f197f.200646",
            "733ce738.de6ea8",
            "79905b52.4997dc",
            "a99ee38f.a6b578",
            "9a73dc7f.40b7f8",
            "c7c04feb.a8213",
            "6f2cec66.a7471c",
            "57ba75db.7fc93c",
            "928b89bd.141ab8",
            "86143258.41422",
            "559aa50a.a0f554",
            "7ce9c288.817244",
            "54f618c7.c3a2d",
            "b9ddfd4a.63e618",
            "c24af91f.5bf868",
            "75f9642c.a2d394",
            "45eea892.de9788",
            "415936b9.619fa8",
            "cf820012.6011f8",
            "38cc576f.38301",
            "7624565e.ee4e2",
            "d575989b.748d5",
            "ce80d851.3c9628",
            "99185059.45982",
            "ef81887a.f410c",
            "456ed274.9c9b04",
            "5b7e2b8e.98c504",
            "8ab59aa7.a17e58",
            "9051e559.85469",
            "fd6925e2.e36a18",
            "9110bcc1.da0f1",
            "fade30c3.f1184",
            "2f83c6ec.6c6502",
            "a3d58377.b4b4e",
            "d7905e90.d22e8",
            "54c44181.90bee"
        ],
        "x": 34,
        "y": 2759,
        "w": 1652,
        "h": 602
    },
    {
        "id": "cf3be9f2.e63838",
        "type": "group",
        "z": "cd55794b.d22868",
        "name": "Download and store as schools in DB",
        "style": {
            "stroke": "#92d04f",
            "label": true,
            "fill": "#ffdf7f",
            "color": "#6f2fa0"
        },
        "nodes": [
            "c056ae7e.b25dd8",
            "4ee77c15.9840c4",
            "482da5f2.e4c4b4",
            "fd0fbf39.353848",
            "9be7f92d.932f38"
        ],
        "x": 14,
        "y": 79,
        "w": 892,
        "h": 142
    },
    {
        "id": "a902a85c0cbfbc56",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "aa2b4835d6520172",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a1f076be13088232",
        "type": "ui_group",
        "name": "Default",
        "tab": "a902a85c0cbfbc56",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "43098c1b47477445",
        "type": "ui_tab",
        "name": "Template",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ca7306b84a680de1",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "43098c1b47477445",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "f2cff505.d3426",
        "type": "ui_tab",
        "name": "SchoolGraph 2000",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "537fedb2.98a2d4",
        "type": "ui_group",
        "name": "Dashboard",
        "tab": "f2cff505.d3426",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "563ac69c.e7e75",
        "type": "ui_group",
        "name": "Klassen",
        "tab": "f2cff505.d3426",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ed614b47.ca9b18",
        "type": "ui_group",
        "name": "Leerlingen",
        "tab": "f2cff505.d3426",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4b2c0218.c41c54",
        "type": "ui_group",
        "name": "Scholen",
        "tab": "f2cff505.d3426",
        "order": 2,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a874c6fd.06ff38",
        "type": "ui_group",
        "name": "SHOOT",
        "tab": "f2cff505.d3426",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5aa2d225.1cbb4c",
        "type": "ui_group",
        "name": "STORE",
        "tab": "f2cff505.d3426",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f2e93dd5.c5ac3",
        "type": "ui_tab",
        "name": "SYNC",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bb1b2a75.d9f258",
        "type": "ui_group",
        "name": "SYNC",
        "tab": "f2e93dd5.c5ac3",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "406fcce7.3b6154",
        "type": "ui_tab",
        "name": "Organizer",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9a8c0911.a1ef78",
        "type": "ui_group",
        "name": "Choose",
        "tab": "406fcce7.3b6154",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bce487c9.3c55b",
        "type": "ui_tab",
        "name": "PicTime",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "12c6183d.6edd78",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "bce487c9.3c55b",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "e83db3b5.066688",
        "type": "ui_tab",
        "name": "database fotoposter",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "61c56cd.0e58814",
        "type": "ui_group",
        "name": "INPUT",
        "tab": "e83db3b5.066688",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7f3b916.23329f",
        "type": "ui_group",
        "name": "database output part 1",
        "tab": "e83db3b5.066688",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "64e7ca33.693114",
        "type": "ui_group",
        "name": "Lijst",
        "tab": "e83db3b5.066688",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "3c118995.5cc616",
        "type": "ui_group",
        "name": "Change Database",
        "tab": "e83db3b5.066688",
        "order": 4,
        "disp": true,
        "width": "10",
        "collapse": true,
        "className": ""
    },
    {
        "id": "83afccf1.49f41",
        "type": "ui_tab",
        "name": "WorkFlow fotoposter",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c3bc6778.7cc6b",
        "type": "ui_group",
        "name": "ORDERS",
        "tab": "83afccf1.49f41",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3a44d775.d58a28",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "83afccf1.49f41",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c2b0c1a8.af43b",
        "type": "ui_group",
        "name": "DELETING",
        "tab": "83afccf1.49f41",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "133ead54.627ddb",
        "type": "ui_group",
        "name": "Store selection",
        "tab": "406fcce7.3b6154",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a325dee2.cdfca",
        "type": "ui_group",
        "name": "Organize shoot",
        "tab": "406fcce7.3b6154",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "48c9c6d5.337a1",
        "type": "ui_tab",
        "name": "Import school",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3d9f466b.162f12",
        "type": "ui_group",
        "name": "IMPORT SCHOOL",
        "tab": "48c9c6d5.337a1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "84444d2d.22c25",
        "type": "ui_group",
        "name": "SyncPic",
        "tab": "406fcce7.3b6154",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "eb23a053.4aa63",
        "type": "ui_group",
        "name": "Snapshot",
        "tab": "75252f1b.e6fdd",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "75252f1b.e6fdd",
        "type": "ui_tab",
        "name": "Raspi Cam",
        "icon": "camera",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "740d6b4f.ab7894",
        "type": "google-service-account",
        "name": "schoolproject",
        "scope": [
            "https://www.googleapis.com/auth/spreadsheets"
        ],
        "way": "json",
        "check_dialogflow": "",
        "check_speech": ""
    },
    {
        "id": "d0da1e41.da5ac",
        "type": "mongodb3",
        "uri": "mongodb+srv://Nicolaas:<password>@klasfoto1.h634o.mongodb.net/myFirstDatabase?retryWrites=true&w=majority",
        "name": "klasfoto1",
        "options": "",
        "parallelism": "-1"
    },
    {
        "id": "7b163364.9970f4",
        "type": "mongodb3",
        "uri": "mongodb://localhost:27017/schoolProject",
        "name": "DB",
        "options": "",
        "parallelism": "-1"
    },
    {
        "id": "caf94d2b.2c3698",
        "type": "mongodb",
        "hostname": "localhost",
        "port": "27017",
        "db": "db",
        "name": ""
    },
    {
        "id": "f53c7a94.415278",
        "type": "mongodb",
        "hostname": "localhost:27017",
        "port": "27017",
        "db": "localhost:27017",
        "name": ""
    },
    {
        "id": "c8572110e8825f79",
        "type": "mongodb3",
        "uri": "",
        "name": "",
        "options": "",
        "parallelism": "-1"
    },
    {
        "id": "d7ed0c39.c739",
        "type": "join",
        "z": "d3cfa1f6.4aa078",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "5",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 690,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "b7f8d63e.0762c",
        "type": "function",
        "z": "d3cfa1f6.4aa078",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "4a8c83e0a31d0271",
        "type": "file in",
        "z": "78dff30b3e70cb71",
        "name": "",
        "filename": "C:\\Users\\Nicolaas\\Documents\\schoolFotografie\\test6_18-8-2022",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 310,
        "y": 1600,
        "wires": [
            []
        ]
    },
    {
        "id": "bd287c1debdffc41",
        "type": "inject",
        "z": "78dff30b3e70cb71",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "b4ae5ffdc8c8174c"
            ]
        ]
    },
    {
        "id": "694673d8906d1cc9",
        "type": "debug",
        "z": "78dff30b3e70cb71",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 1560,
        "wires": []
    },
    {
        "id": "385c08e4cabf203c",
        "type": "fs-list",
        "z": "78dff30b3e70cb71",
        "name": "",
        "path": "C:\\Users\\Nicolaas\\Documents\\schoolFotografie\\test6_18-8-2022/shoot",
        "pathType": "str",
        "pattern": "*",
        "patternType": "str",
        "filter": "all",
        "recursive": false,
        "follow": true,
        "property": "list",
        "propertyType": "msg",
        "x": 300,
        "y": 1480,
        "wires": [
            [
                "694673d8906d1cc9"
            ]
        ]
    },
    {
        "id": "4917c5a7a5296252",
        "type": "html",
        "z": "78dff30b3e70cb71",
        "name": "",
        "property": "payload",
        "outproperty": "payload",
        "tag": "",
        "ret": "html",
        "as": "single",
        "x": 330,
        "y": 1880,
        "wires": [
            []
        ]
    },
    {
        "id": "93f45a2189a1ac79",
        "type": "xml",
        "z": "78dff30b3e70cb71",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 370,
        "y": 1700,
        "wires": [
            [
                "694673d8906d1cc9",
                "d0d0b98d76c50ed4"
            ]
        ]
    },
    {
        "id": "7c0696b06d7d61c7",
        "type": "inject",
        "z": "78dff30b3e70cb71",
        "name": "Inject XML",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "<action>     <type>createProject</type>     <globalId>3f8e2055-eba6-47cc-83d0-9d9fa1186766</globalId>     <name>Test auto upload Nicolaas2</name>     <title>Sint-Lutgart Test2</title>     <externalProjectRef>55fc16b5-2017-4380-9ab1-818b74ba51a16</externalProjectRef>     <projectCategory>SchoolTest2</projectCategory>     <projectAction>         <sendEmailOnPublish>true</sendEmailOnPublish>         <publishWhenDone>true</publishWhenDone>     </projectAction>     <customer>         <name>testcustomername</name>         <title>testtitle</title>         <email>nicolaaswauman@gmail.com</email>     </customer>     <upload>         <scenes>             <scene>             <allowRevisionUpload>true</allowRevisionUpload>                 <name> Shootpersoon 1</name>                 <uploadRequest>                     <photo>                         <clientRemotePath>C:\\Users\\Nicolaas\\Documents\\schoolFotografie\\test6_18-8-2022\\shoot\\K2A_1_Amandine_Block</clientRemotePath>                         <width>0</width>                         <height>0</height>                         <lastModified>2020-12-08T03:46:23.221Z</lastModified>                     </photo>                 </uploadRequest>             </scene>             <scene>                                       </scene>         </scenes>     </upload> </action> <action>     <type>createProject</type>     <globalId>3f8e2055-eba6-47cc-83d0-9d9fa1186765</globalId>     <name>Test auto upload Nico3</name>     <title>Sint-Lutgart Test3</title>     <externalProjectRef>55fc16b5-2017-4380-9ab1-818b74ba51a15</externalProjectRef>     <projectCategory>SchoolTest</projectCategory>     <projectAction>         <sendEmailOnPublish>true</sendEmailOnPublish>         <publishWhenDone>true</publishWhenDone>     </projectAction>     <customer>         <name>testcustomername</name>         <title>testtitle</title>         <email>nicolaaswauman@gmail.com</email>     </customer>     <upload>         <scenes>             <scene>             <allowRevisionUpload>true</allowRevisionUpload>                 <name> Shootpersoon 2</name>                 <uploadRequest>                     <photo>                         <clientRemotePath>C:\\Users\\Nicolaas\\Documents\\schoolFotografie\\test6_18-8-2022\\shoot\\K2A_2_Otto_Claus</clientRemotePath>                         <width>0</width>                         <height>0</height>                         <lastModified>2020-12-08T03:46:23.221Z</lastModified>                     </photo>                 </uploadRequest>             </scene>             <scene>                                       </scene>         </scenes>     </upload> </action>",
        "payloadType": "str",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "da49a8cd08952267"
            ]
        ]
    },
    {
        "id": "d0d0b98d76c50ed4",
        "type": "xml",
        "z": "78dff30b3e70cb71",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 630,
        "y": 1700,
        "wires": [
            [
                "694673d8906d1cc9"
            ]
        ]
    },
    {
        "id": "b4ae5ffdc8c8174c",
        "type": "http request",
        "z": "78dff30b3e70cb71",
        "name": "Get api info",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://productionapi.pic-time.com/apiV2/account/{93637}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "bearer",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 310,
        "y": 360,
        "wires": [
            [
                "2db078ea981cf6b8"
            ]
        ]
    },
    {
        "id": "2db078ea981cf6b8",
        "type": "debug",
        "z": "78dff30b3e70cb71",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 360,
        "wires": []
    },
    {
        "id": "da49a8cd08952267",
        "type": "http request",
        "z": "78dff30b3e70cb71",
        "name": "POST nieuw project",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "http://testingapi.pic-time.com/apiV2/automation/checkin_testing?pcpClientId=1f14037f-4080-4d05-abca-d79db8948b55&accountId=93637",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "bearer",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/xml"
            }
        ],
        "x": 900,
        "y": 80,
        "wires": [
            [
                "2db078ea981cf6b8",
                "6a9008cda546d34b"
            ]
        ]
    },
    {
        "id": "6a9008cda546d34b",
        "type": "ui_template",
        "z": "78dff30b3e70cb71",
        "group": "ca7306b84a680de1",
        "name": "",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1160,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "e99d66539f42173c",
        "type": "xml",
        "z": "78dff30b3e70cb71",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 730,
        "y": 500,
        "wires": [
            [
                "f684089fd381e9ea",
                "da49a8cd08952267"
            ]
        ]
    },
    {
        "id": "03cca3069e16e074",
        "type": "inject",
        "z": "78dff30b3e70cb71",
        "name": "xml inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "<action>     <type>createProject</type>     <globalId>3f8e2055-eba6-47cc-83d0-9d9fa1186766</globalId>     <name>Test auto upload Nicolaas2</name>     <title>Sint-Lutgart Test2</title>     <externalProjectRef>55fc16b5-2017-4380-9ab1-818b74ba51a16</externalProjectRef>     <projectCategory>SchoolTest2</projectCategory>     <projectAction>         <sendEmailOnPublish>true</sendEmailOnPublish>         <publishWhenDone>true</publishWhenDone>     </projectAction>     <customer>         <name>testcustomername</name>         <title>testtitle</title>         <email>nicolaaswauman@gmail.com</email>     </customer>     <upload>         <scenes>             <scene>             <allowRevisionUpload>true</allowRevisionUpload>                 <name> Shootpersoon 1</name>                 <uploadRequest>                     <photo>                         <clientRemotePath>C:\\Users\\Nicolaas\\Documents\\schoolFotografie\\test6_18-8-2022\\shoot\\K2A_1_Amandine_Block</clientRemotePath>                         <width>0</width>                         <height>0</height>                         <lastModified>2020-12-08T03:46:23.221Z</lastModified>                     </photo>                 </uploadRequest>             </scene>         </scenes>     </upload> </action>",
        "payloadType": "str",
        "x": 600,
        "y": 420,
        "wires": [
            [
                "e99d66539f42173c"
            ]
        ]
    },
    {
        "id": "34691757f1b0a21b",
        "type": "function",
        "z": "78dff30b3e70cb71",
        "name": "XML maker",
        "func": "msg.payload = { action: { \n                        type: [msg.payload.type], \n                        globalId: [msg.payload.globalId],\n                        name: [msg.payload.name],\n                        title: [msg.payload.title],\n                        externalProjectRef: [msg.payload.externalProjectRef],\n                        projectCategory: [msg.payload.projectCategory],\n                        projectAction: [{ sendEmailOnPublish: [msg.payload.sendEmailOnPublish], \n                                         publishWhenDone: [msg.payload.publishWhenDone]}],\n                        customer:[  {name: [msg.payload.customerName],\n                                    title: [msg.payload.customerTitle],\n                                    email: [msg.payload.customerEmail]}]\n                                        ,\n                        upload: [{\n                                    scenes: [{\n                                                scene: [{   allowRevisionUpload: [msg.payload.allowRevisionUpload],\n                                                            name: [msg.payload.sceneName],\n                                                    uploadRequest: [{\n                                                        photo: [{\n                                                                    uploadPath: [msg.payload.clientRemotePath],\n                                                                    width: [msg.payload.width],\n                                                                    height: [msg.payload.height],\n                                                                    lastModified: [msg.payload.lastModified] }]}] }\n\n                        ]}]}\n\n                        ]}\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 500,
        "wires": [
            [
                "e99d66539f42173c"
            ]
        ]
    },
    {
        "id": "6e619adfc5aa0585",
        "type": "inject",
        "z": "78dff30b3e70cb71",
        "name": "New Costum action",
        "props": [
            {
                "p": "payload.type",
                "v": "createProject",
                "vt": "str"
            },
            {
                "p": "payload.globalId",
                "v": "3f8e2055-eba6-47cc-83d0-9d9fa1186770",
                "vt": "str"
            },
            {
                "p": "payload.name",
                "v": "Test auto upload Nicolaas6",
                "vt": "str"
            },
            {
                "p": "payload.title",
                "v": "Sint-Lutgart Test6",
                "vt": "str"
            },
            {
                "p": "payload.externalProjectRef",
                "v": "55fc16b5-2017-4380-9ab1-818b74ba51a24",
                "vt": "str"
            },
            {
                "p": "payload.projectCategory",
                "v": "SchoolTest6",
                "vt": "str"
            },
            {
                "p": "payload.sendEmailOnPublish",
                "v": "true",
                "vt": "str"
            },
            {
                "p": "payload.publishWhenDone",
                "v": "true",
                "vt": "str"
            },
            {
                "p": "payload.customerName",
                "v": "Billy Bob",
                "vt": "str"
            },
            {
                "p": "payload.customerTitle",
                "v": "Billy's bob feest",
                "vt": "str"
            },
            {
                "p": "payload.customerEmail",
                "v": "nicolaaswauman@gmail.com",
                "vt": "str"
            },
            {
                "p": "payload.allowRevisionUpload",
                "v": "true",
                "vt": "str"
            },
            {
                "p": "payload.sceneName",
                "v": " Shootpersoon 1",
                "vt": "str"
            },
            {
                "p": "payload.clientRemotePath",
                "v": "C:\\Users\\Nicolaas\\Documents\\schoolFotografie\\test6_18-8-2022\\shoot\\K2A_1_Amandine_Block\\DSC_0654.jpg",
                "vt": "str"
            },
            {
                "p": "payload.width",
                "v": "0",
                "vt": "str"
            },
            {
                "p": "payload.height",
                "v": "0",
                "vt": "str"
            },
            {
                "p": "payload.lastModified",
                "v": "2020-12-08T03:46:23.221Z",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 500,
        "wires": [
            [
                "c85162d24b42280e"
            ]
        ]
    },
    {
        "id": "c85162d24b42280e",
        "type": "ui_form",
        "z": "78dff30b3e70cb71",
        "name": "",
        "label": "",
        "group": "a1f076be13088232",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "type",
                "value": "type",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "global ID",
                "value": "globalId",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "name",
                "value": "name",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "title",
                "value": "title",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "externalProjectRef",
                "value": "externalProjectRef",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "projectCategory",
                "value": "projectCategory",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "sendEmailOnPublish",
                "value": "sendEmailOnPublish",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "publishWhenDone",
                "value": "publishWhenDone",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "customerName",
                "value": "customerName",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "customerTitle",
                "value": "customerTitle",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "customerEmail",
                "value": "customerEmail",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "allowRevisionUpload",
                "value": "allowRevisionUpload",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "sceneName",
                "value": "sceneName",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "clientRemotePath",
                "value": "clientRemotePath",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "width",
                "value": "width",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "height",
                "value": "height",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "lastModified",
                "value": "lastModified",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "type": "",
            "globalId": "",
            "name": "",
            "title": "",
            "externalProjectRef": "",
            "projectCategory": "",
            "sendEmailOnPublish": "",
            "publishWhenDone": "",
            "customerName": "",
            "customerTitle": "",
            "customerEmail": "",
            "allowRevisionUpload": "",
            "sceneName": "",
            "clientRemotePath": "",
            "width": "",
            "height": "",
            "lastModified": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 310,
        "y": 500,
        "wires": [
            [
                "34691757f1b0a21b"
            ]
        ]
    },
    {
        "id": "dabccaf55d775e69",
        "type": "uuid",
        "z": "78dff30b3e70cb71",
        "uuidVersion": "v1",
        "namespaceType": "url",
        "namespace": "secretpasword",
        "namespaceCustom": "",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "x": 370,
        "y": 600,
        "wires": [
            [
                "38fe77f0958bdf5c"
            ]
        ]
    },
    {
        "id": "8fe07bbd98203843",
        "type": "inject",
        "z": "78dff30b3e70cb71",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 600,
        "wires": [
            [
                "dabccaf55d775e69"
            ]
        ]
    },
    {
        "id": "38fe77f0958bdf5c",
        "type": "debug",
        "z": "78dff30b3e70cb71",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 600,
        "wires": []
    },
    {
        "id": "d96607f2ec3a1503",
        "type": "http request",
        "z": "78dff30b3e70cb71",
        "name": "get projects info",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://testingapi.pic-time.com/apiV2/account/93637/projects?accountIdStr=\"me\"",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "bearer",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "",
                "valueType": "other",
                "valueValue": ""
            }
        ],
        "x": 480,
        "y": 720,
        "wires": [
            [
                "f684089fd381e9ea"
            ]
        ]
    },
    {
        "id": "40eb959102cbc806",
        "type": "inject",
        "z": "78dff30b3e70cb71",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 720,
        "wires": [
            [
                "d96607f2ec3a1503"
            ]
        ]
    },
    {
        "id": "f684089fd381e9ea",
        "type": "debug",
        "z": "78dff30b3e70cb71",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 640,
        "wires": []
    },
    {
        "id": "79b10c8a9e01be37",
        "type": "uibuilder",
        "z": "dca602f4409aa4fa",
        "name": "",
        "topic": "",
        "url": "uibtest",
        "fwdInMessages": false,
        "allowScripts": false,
        "allowStyles": false,
        "copyIndex": true,
        "templateFolder": "blank",
        "extTemplate": "",
        "showfolder": false,
        "reload": false,
        "sourceFolder": "src",
        "deployedVersion": "5.1.1",
        "x": 780,
        "y": 400,
        "wires": [
            [
                "6212ea9f924c6f5e"
            ],
            [
                "53fbd3e293409674"
            ]
        ]
    },
    {
        "id": "6212ea9f924c6f5e",
        "type": "debug",
        "z": "dca602f4409aa4fa",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 300,
        "wires": []
    },
    {
        "id": "53fbd3e293409674",
        "type": "debug",
        "z": "dca602f4409aa4fa",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 440,
        "wires": []
    },
    {
        "id": "3c67f73e8fbd3df2",
        "type": "inject",
        "z": "dca602f4409aa4fa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 560,
        "y": 400,
        "wires": [
            [
                "79b10c8a9e01be37"
            ]
        ]
    },
    {
        "id": "e1ec88f9ec0c32ef",
        "type": "inject",
        "z": "dca602f4409aa4fa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"payload\": \"Message from the client\", \"topic\": \"mymessage\" }",
        "payloadType": "json",
        "x": 550,
        "y": 280,
        "wires": [
            [
                "79b10c8a9e01be37"
            ]
        ]
    },
    {
        "id": "00a96858fe5ce5c7",
        "type": "uibuilder",
        "z": "dca602f4409aa4fa",
        "name": "",
        "topic": "",
        "url": "uibtest2",
        "fwdInMessages": false,
        "allowScripts": false,
        "allowStyles": false,
        "copyIndex": true,
        "templateFolder": "vue",
        "extTemplate": "",
        "showfolder": true,
        "reload": false,
        "sourceFolder": "src",
        "deployedVersion": "5.1.1",
        "x": 790,
        "y": 520,
        "wires": [
            [
                "d0b86fbdc4c98e4d"
            ],
            [
                "66df711e19d90cb3"
            ]
        ]
    },
    {
        "id": "75b11e3ada462a14",
        "type": "inject",
        "z": "dca602f4409aa4fa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 600,
        "y": 540,
        "wires": [
            [
                "00a96858fe5ce5c7"
            ]
        ]
    },
    {
        "id": "d0b86fbdc4c98e4d",
        "type": "debug",
        "z": "dca602f4409aa4fa",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 540,
        "wires": []
    },
    {
        "id": "66df711e19d90cb3",
        "type": "debug",
        "z": "dca602f4409aa4fa",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 680,
        "wires": []
    },
    {
        "id": "caceb05afb137818",
        "type": "uibuilder",
        "z": "dca602f4409aa4fa",
        "name": "",
        "topic": "",
        "url": "test3",
        "fwdInMessages": false,
        "allowScripts": false,
        "allowStyles": false,
        "copyIndex": true,
        "templateFolder": "vue",
        "extTemplate": "",
        "showfolder": false,
        "reload": false,
        "sourceFolder": "src",
        "deployedVersion": "5.1.1",
        "x": 460,
        "y": 160,
        "wires": [
            [
                "336693c54ef79921"
            ],
            [
                "a5b4d36305af94b6"
            ]
        ]
    },
    {
        "id": "6960085ebb87e5bb",
        "type": "inject",
        "z": "dca602f4409aa4fa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 180,
        "wires": [
            [
                "caceb05afb137818"
            ]
        ]
    },
    {
        "id": "4ab5c59c47e3a2b2",
        "type": "uibuilder",
        "z": "dca602f4409aa4fa",
        "name": "",
        "topic": "",
        "url": "react-app",
        "fwdInMessages": false,
        "allowScripts": false,
        "allowStyles": false,
        "copyIndex": true,
        "templateFolder": "external",
        "extTemplate": "react",
        "showfolder": false,
        "reload": false,
        "sourceFolder": "src",
        "deployedVersion": "5.1.1",
        "x": 410,
        "y": 740,
        "wires": [
            [
                "c19dcebb230b63f4"
            ],
            [
                "06251e6dab6d470d"
            ]
        ]
    },
    {
        "id": "35c511a72be7ab42",
        "type": "inject",
        "z": "dca602f4409aa4fa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 720,
        "wires": [
            [
                "4ab5c59c47e3a2b2"
            ]
        ]
    },
    {
        "id": "336693c54ef79921",
        "type": "debug",
        "z": "dca602f4409aa4fa",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 140,
        "wires": []
    },
    {
        "id": "a5b4d36305af94b6",
        "type": "debug",
        "z": "dca602f4409aa4fa",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 180,
        "wires": []
    },
    {
        "id": "c19dcebb230b63f4",
        "type": "debug",
        "z": "dca602f4409aa4fa",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 720,
        "wires": []
    },
    {
        "id": "06251e6dab6d470d",
        "type": "debug",
        "z": "dca602f4409aa4fa",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 760,
        "wires": []
    },
    {
        "id": "354cc6d.8d5a1ba",
        "type": "ui_button",
        "z": "cd55794b.d22868",
        "g": "36ea01e7.5b4cee",
        "name": "",
        "group": "537fedb2.98a2d4",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Get all schools",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"graad\":\"lager\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 400,
        "wires": [
            [
                "735b2c65.ec7dc4"
            ]
        ]
    },
    {
        "id": "12d12942.ec03df",
        "type": "join",
        "z": "cd55794b.d22868",
        "g": "36ea01e7.5b4cee",
        "name": "Join schools in array",
        "mode": "custom",
        "build": "array",
        "property": "payload.school",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "1",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 620,
        "y": 400,
        "wires": [
            [
                "981f2b57.08b7a"
            ]
        ]
    },
    {
        "id": "981f2b57.08b7a",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "36ea01e7.5b4cee",
        "name": "Add title prop for list",
        "func": "var scholen = msg.payload.school;\n\n    var school = {};\nconst scholenLijst = scholen.map((element)=>{\n     \n           return school={...school,title:element};\n           \n});\n\n\nmsg.payload= scholenLijst;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 400,
        "wires": [
            [
                "c871fa76.922e8"
            ]
        ]
    },
    {
        "id": "1b124c9d.7ebbb3",
        "type": "inject",
        "z": "cd55794b.d22868",
        "g": "36ea01e7.5b4cee",
        "name": "reset list",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 800,
        "y": 300,
        "wires": [
            [
                "9874743a.add768",
                "70df9fa4.0be62",
                "c871fa76.922e8"
            ]
        ]
    },
    {
        "id": "7ea1826a.166a8c",
        "type": "ui_form",
        "z": "cd55794b.d22868",
        "g": "36ea01e7.5b4cee",
        "name": "",
        "label": "Zoek op klas",
        "group": "537fedb2.98a2d4",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Klas",
                "value": "Klascode",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "Klascode": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 110,
        "y": 760,
        "wires": [
            [
                "9ffd43ab.a710d"
            ]
        ]
    },
    {
        "id": "2f1bb4fd.ae172c",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "36ea01e7.5b4cee",
        "name": "",
        "func": "const query = [{\"Klascode\": msg.payload.Klascode}];\nmsg.filter = msg.payload.Klascode;\nmsg.payload = query;\nreturn msg.payload;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 700,
        "wires": [
            [
                "96d10405.908a8"
            ]
        ]
    },
    {
        "id": "9ffd43ab.a710d",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "36ea01e7.5b4cee",
        "name": "Get children from schoolObject",
        "func": "let kidsArray = flow.get('schoolObject');\n\nconst filter = msg.payload.Klascode;\n\n// zoek lijst met klassen\nconst klasList = kidsArray.filter((kind)=>kind.Klascode == filter)\n//kidsArray = Object.values(klasList);\n\n\n\nconst klas = {};\nconst klasLijst = klasList.map((element,index)=>element={...element,title:element.Naam});\n\nflow.set('klasLijst', klasLijst);\nmsg.payload= klasLijst;\nmsg.selected= filter;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 760,
        "wires": [
            [
                "f1751431.6ec13"
            ]
        ]
    },
    {
        "id": "3976a740.6bd498",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "36ea01e7.5b4cee",
        "name": "Get klassen from schoolObject",
        "func": "var school = flow.get('schoolObject');\n\nconst object = {};\n\nconst unique = (value, index, self) => {\n   return  self.indexOf(value) === index;\n};\n    \n\nconst klasArray= school.map(kind=> kind.Klascode);\n\nconst klassenLijstUnique = klasArray.filter(unique);\n\nconst klassenLijst = klassenLijstUnique.map(kind=> {return klas = {...object,title:kind}});\n\n// const ages = [26, 27, 26, 26, 28, 28, 29, 29, 30]\n// const uniqueAges = ages.filter(unique)\n\n\n\n\nmsg.payload= klassenLijstUnique;\nflow.set('klasArray', klassenLijstUnique);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 600,
        "wires": [
            [
                "9874743a.add768"
            ]
        ]
    },
    {
        "id": "9b9399ab.15d0f8",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "36ea01e7.5b4cee",
        "name": "define class",
        "func": "msg.payload.Klascode = msg.payload.title;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 700,
        "wires": [
            [
                "9ffd43ab.a710d"
            ]
        ]
    },
    {
        "id": "e6be17a2.a36e1",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "36ea01e7.5b4cee",
        "name": "set flow.geselecteerdeSchool",
        "func": "msg.payload= {school:msg.payload.title};\nflow.set(\"geselecteerdeSchool\", msg.payload.school);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 600,
        "wires": [
            [
                "5d98610b.0286e8"
            ]
        ]
    },
    {
        "id": "6c13f7d8.bbfb18",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "36ea01e7.5b4cee",
        "name": "set schoolObject",
        "func": "const schoolArray = Object.values(msg.payload);\nflow.set('schoolObject',schoolArray);\nmsg.payload = schoolArray;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 600,
        "wires": [
            [
                "3976a740.6bd498"
            ]
        ]
    },
    {
        "id": "bf7bb902.caa25",
        "type": "ui_text",
        "z": "cd55794b.d22868",
        "g": "36ea01e7.5b4cee",
        "group": "563ac69c.e7e75",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "geselecteerde school",
        "format": "{{msg.payload.title}}",
        "layout": "col-center",
        "className": "",
        "x": 1320,
        "y": 400,
        "wires": []
    },
    {
        "id": "6a3551b6.bf0e2",
        "type": "debug",
        "z": "cd55794b.d22868",
        "g": "9832714f.f82cf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 1860,
        "wires": []
    },
    {
        "id": "4af73ae1.12ea94",
        "type": "ui_text",
        "z": "cd55794b.d22868",
        "g": "36ea01e7.5b4cee",
        "group": "ed614b47.ca9b18",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "geselecteerde klas",
        "format": "{{msg.selected}}",
        "layout": "col-center",
        "className": "",
        "x": 1310,
        "y": 680,
        "wires": []
    },
    {
        "id": "4d030adc.1f70e4",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "34219648.68b2d2",
        "name": "Store geselecteerd kind",
        "func": "const currentKid = msg.payload;\nlet currentStoredKids=flow.get('kindObject')? flow.get('kindObject'): [];\nlet newCurrentStoredKids;\nconst currentDate = new Date();\n\nif(msg.payload===\"reset\"){\n    currentStoredKids = [];\n}\nif(currentKid&&currentKid.isChecked){\n   // TC in + object maken\n   currentKid.TC.push({in: currentDate, out:0});\n  \n   \n   // opslaan in array in flow\n   currentStoredKids.push(currentKid);\n   newCurrentStoredKids = currentStoredKids;\n   \n \n   \n}\nif(currentKid&& !currentKid.isChecked){\n     // TC uit\n     currentKid.TC[currentKid.TC.length-1].out= currentDate;\n     // verwijder het kind uit de array\n    newCurrentStoredKids = currentStoredKids.filter(kid=>kid.title!==currentKid.title);\n  \n  msg.payload = currentKid;\n     \n}\nflow.set('kindObject',newCurrentStoredKids);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "38b83e11.ac8aaa",
        "type": "ui_button",
        "z": "cd55794b.d22868",
        "g": "36ea01e7.5b4cee",
        "name": "",
        "group": "a874c6fd.06ff38",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "reset kids",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "reset",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 820,
        "wires": [
            [
                "402ebe61.172cc8"
            ]
        ]
    },
    {
        "id": "26c18ac1.38879e",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "9832714f.f82cf",
        "name": "get('kidsShootArray')",
        "func": "msg.payload=flow.get('kidsShootArray');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1860,
        "wires": [
            [
                "6a3551b6.bf0e2"
            ]
        ]
    },
    {
        "id": "5aeaac1c.d4611c",
        "type": "inject",
        "z": "cd55794b.d22868",
        "g": "9832714f.f82cf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1860,
        "wires": [
            [
                "26c18ac1.38879e"
            ]
        ]
    },
    {
        "id": "b02e3d86.b1d85",
        "type": "ui_text",
        "z": "cd55794b.d22868",
        "g": "36ea01e7.5b4cee",
        "group": "a874c6fd.06ff38",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "KIND 1",
        "format": "{{msg.payload[0].Voornaam+ \" \"+msg.payload[0].Naam}}",
        "layout": "col-center",
        "className": "",
        "x": 1460,
        "y": 760,
        "wires": []
    },
    {
        "id": "7dd3c32a.2daca4",
        "type": "ui_button",
        "z": "cd55794b.d22868",
        "g": "34219648.68b2d2",
        "name": "Start shoot kind 1",
        "group": "a874c6fd.06ff38",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start SHOOT",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "start",
        "topicType": "str",
        "x": 130,
        "y": 960,
        "wires": [
            [
                "5d9a0cd1.62db9c"
            ]
        ]
    },
    {
        "id": "ac83b1eb.7e39f",
        "type": "ui_button",
        "z": "cd55794b.d22868",
        "g": "34219648.68b2d2",
        "name": "Stop shoot kind 1",
        "group": "a874c6fd.06ff38",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop SHOOT",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "stop",
        "topicType": "str",
        "x": 130,
        "y": 1000,
        "wires": [
            [
                "5d9a0cd1.62db9c"
            ]
        ]
    },
    {
        "id": "8cebb90.d075848",
        "type": "ui_button",
        "z": "cd55794b.d22868",
        "g": "34219648.68b2d2",
        "name": "Start shoot kind 2",
        "group": "a874c6fd.06ff38",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start SHOOT",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "start",
        "topicType": "str",
        "x": 130,
        "y": 1080,
        "wires": [
            [
                "cea24319.531ea"
            ]
        ]
    },
    {
        "id": "5a74f19a.832898",
        "type": "ui_button",
        "z": "cd55794b.d22868",
        "g": "34219648.68b2d2",
        "name": "Stop shoot kind 2",
        "group": "a874c6fd.06ff38",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop SHOOT",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "stop",
        "topicType": "str",
        "x": 130,
        "y": 1120,
        "wires": [
            [
                "cea24319.531ea"
            ]
        ]
    },
    {
        "id": "15c618bf.9faa27",
        "type": "ui_button",
        "z": "cd55794b.d22868",
        "g": "34219648.68b2d2",
        "name": "Start shoot kind 3",
        "group": "a874c6fd.06ff38",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start SHOOT",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "start",
        "topicType": "str",
        "x": 130,
        "y": 1180,
        "wires": [
            [
                "7e891fcc.370c1"
            ]
        ]
    },
    {
        "id": "dd603d2.505184",
        "type": "ui_button",
        "z": "cd55794b.d22868",
        "g": "34219648.68b2d2",
        "name": "Stop shoot kind 3",
        "group": "a874c6fd.06ff38",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop SHOOT",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "stop",
        "topicType": "str",
        "x": 130,
        "y": 1220,
        "wires": [
            [
                "7e891fcc.370c1"
            ]
        ]
    },
    {
        "id": "27ae42be.4982e6",
        "type": "ui_text",
        "z": "cd55794b.d22868",
        "g": "36ea01e7.5b4cee",
        "group": "a874c6fd.06ff38",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "KIND 2",
        "format": "{{msg.payload[1].Voornaam+ \" \"+msg.payload[1].Naam}}",
        "layout": "col-center",
        "className": "",
        "x": 1460,
        "y": 800,
        "wires": []
    },
    {
        "id": "3f1ed343.7afb94",
        "type": "ui_text",
        "z": "cd55794b.d22868",
        "g": "36ea01e7.5b4cee",
        "group": "a874c6fd.06ff38",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "KIND 3",
        "format": "{{msg.payload[2].Voornaam+\" \"+msg.payload[2].Naam}}",
        "layout": "col-center",
        "className": "",
        "x": 1460,
        "y": 840,
        "wires": []
    },
    {
        "id": "d412a530.dd8d78",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "36ea01e7.5b4cee",
        "name": "",
        "func": "const kidsShootArray = flow.get('kidsShootArray')||[];\nconst kidNaam = msg.payload.Voornaam + msg.payload.Naam;\nconst kidObject = msg.payload;\n\n\nif(kidsShootArray.length>=3){\n    kidsShootArray.pop();\n    kidsShootArray.unshift(kidObject);\n}else{\n    kidsShootArray.unshift(kidObject);\n}\n\n\nmsg.payload=kidsShootArray;\nflow.set('kidsShootArray', kidsShootArray)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 760,
        "wires": [
            [
                "b02e3d86.b1d85",
                "27ae42be.4982e6",
                "3f1ed343.7afb94"
            ]
        ]
    },
    {
        "id": "5d9a0cd1.62db9c",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "34219648.68b2d2",
        "name": "START/STOP OPNAME KIND 1",
        "func": "const kidsShootArray = flow.get('kidsShootArray');\nlet firstKid = kidsShootArray[0];\n// zoek kind in object\nlet schoolObject = flow.get('schoolObject')\nlet leerling = schoolObject.filter(kind=>kind.Naam===firstKid.Naam&&kind.Voornaam===firstKid.Voornaam)[0];\n\nlet doneShootArray = flow.get('doneShootArray')|| [];\nlet recordKid = doneShootArray.filter(kind=>kind.Naam===firstKid.Naam&&kind.Voornaam===firstKid.Voornaam)[0];\nlet newDoneShootArray;\nlet tc = {in:msg.payload, out:0};\n\nif(msg.topic==='start'){\n    if(leerling.TC){\n        if(leerling.TC[leerling.TC.length-1].out===0){\n         return msg\n        }else{\n        leerling.TC.push(tc);\ndoneShootArray.push(leerling);\n        \n//newDoneShootArray = doneShootArray.map(kind=>{\n  //          kind.Naam===leerling.Naam && kind.Voornaam===leerling.Voornaam? leerling : kind\n   //     });\n        \n        flow.set('doneShootArray',doneShootArray);\n        msg.payload = leerling;\n        msg.record= \"RECORD\";\n        return msg;}\n        \n    }else{\n        leerling.TC = [];\n        leerling.TC.push(tc);\n        doneShootArray.push(leerling);\n        flow.set('doneShootArray',doneShootArray);\n        msg.payload = leerling;\n         msg.record= \"RECORD\";\n        return msg;\n    }\n}\n\n// stop opname kind\nif(msg.topic===\"stop\" && recordKid.TC[recordKid.TC.length-1].out===0){\nconst arrayWithRecordKid = doneShootArray.map(kind=> {if(kind.Naam===leerling.Naam&&kind.Voornaam===leerling.Voornaam){\n    kind.TC[kind.TC.length-1].out = msg.payload;\n    return kind;\n}else{ return kind;\n    }\n});\nflow.set('doneShootArray',arrayWithRecordKid);\n\n}else{\n    msg.payload = \"no record started\";\n}\n\n//if(msg.topic==='stop'&& leerling.TC[firstKid.TC.length-1].out===0){\n    // fill out\n  //  leerling.TC[leerling.TC.length-1].out= msg.payload;\n    //add kid to doneShootArray\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 980,
        "wires": [
            [
                "322c97c2.9c48f"
            ]
        ]
    },
    {
        "id": "402ebe61.172cc8",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "36ea01e7.5b4cee",
        "name": "",
        "func": "let kidsShootArray = flow.get('kidsShootArray');\nif(msg.payload===\"reset\"){\n    kidsShootArray = [];\n    flow.set('kidsShootArray',kidsShootArray);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 820,
        "wires": [
            [
                "b02e3d86.b1d85",
                "27ae42be.4982e6",
                "3f1ed343.7afb94"
            ]
        ]
    },
    {
        "id": "2d716729.0fb2a8",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "9832714f.f82cf",
        "name": "get('doneShootArray')",
        "func": "msg.payload=flow.get('doneShootArray');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1920,
        "wires": [
            [
                "6a3551b6.bf0e2"
            ]
        ]
    },
    {
        "id": "27878e95.8f57ba",
        "type": "inject",
        "z": "cd55794b.d22868",
        "g": "9832714f.f82cf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1920,
        "wires": [
            [
                "2d716729.0fb2a8"
            ]
        ]
    },
    {
        "id": "a6206193.9829d8",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "9832714f.f82cf",
        "name": "reset doneShootArray",
        "func": "flow.set('doneShootArray',[]);\nflow.set('kidsShootArray',[]);\nflow.set('klasArray',[]);\nflow.set('klasLijst', []);\nflow.set('schoolObject',[]);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1960,
        "wires": [
            []
        ]
    },
    {
        "id": "906c61da.b0b1e",
        "type": "inject",
        "z": "cd55794b.d22868",
        "g": "9832714f.f82cf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1960,
        "wires": [
            [
                "a6206193.9829d8"
            ]
        ]
    },
    {
        "id": "409d695.b4fa498",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "9832714f.f82cf",
        "name": "get('schoolObject')",
        "func": "msg.payload=flow.get('schoolObject');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 1720,
        "wires": [
            [
                "6a3551b6.bf0e2"
            ]
        ]
    },
    {
        "id": "79e2dad2.3143fc",
        "type": "inject",
        "z": "cd55794b.d22868",
        "g": "9832714f.f82cf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1720,
        "wires": [
            [
                "409d695.b4fa498"
            ]
        ]
    },
    {
        "id": "9490d1ac.f8c0c",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "9832714f.f82cf",
        "name": "get('klasArray')",
        "func": "msg.payload=flow.get('klasArray');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1820,
        "wires": [
            [
                "6a3551b6.bf0e2"
            ]
        ]
    },
    {
        "id": "84659d2.ea8946",
        "type": "inject",
        "z": "cd55794b.d22868",
        "g": "9832714f.f82cf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1820,
        "wires": [
            [
                "9490d1ac.f8c0c"
            ]
        ]
    },
    {
        "id": "f683ba14.154a18",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "9832714f.f82cf",
        "name": "get('klasLijst')",
        "func": "msg.payload=flow.get('klasLijst');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1760,
        "wires": [
            [
                "6a3551b6.bf0e2"
            ]
        ]
    },
    {
        "id": "a6fd11ec.89c278",
        "type": "inject",
        "z": "cd55794b.d22868",
        "g": "9832714f.f82cf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1760,
        "wires": [
            [
                "f683ba14.154a18"
            ]
        ]
    },
    {
        "id": "f1751431.6ec13",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "36ea01e7.5b4cee",
        "name": "get classList from flow object",
        "func": "msg.payload=flow.get('klasLijst');\nmsg.selected=msg.payload[0].Klascode?msg.payload[0].Klascode: \"geen kinderen\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 760,
        "wires": [
            [
                "70df9fa4.0be62",
                "4af73ae1.12ea94"
            ]
        ]
    },
    {
        "id": "cea24319.531ea",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "34219648.68b2d2",
        "name": "START/STOP OPNAME KIND 2",
        "func": "const kidsShootArray = flow.get('kidsShootArray');\nlet firstKid = kidsShootArray[1];\n// zoek kind in object\nlet schoolObject = flow.get('schoolObject')\nlet leerling = schoolObject.filter(kind=>kind.Naam===firstKid.Naam&&kind.Voornaam===firstKid.Voornaam)[0];\n\nlet doneShootArray = flow.get('doneShootArray')|| [];\nlet recordKid = doneShootArray.filter(kind=>kind.Naam===firstKid.Naam&&kind.Voornaam===firstKid.Voornaam)[0];\nlet newDoneShootArray;\nlet tc = {in:msg.payload, out:0};\n\nif(msg.topic==='start'){\n    if(leerling.TC){\n        if(leerling.TC[leerling.TC.length-1].out===0){\n         return msg\n        }else{\n        leerling.TC.push(tc);\n        doneShootArray.push(leerling);\n        \n        doneShootArray.map(kind=>{\n            kind.Naam===leerling.Naam && kind.Voornaam===leerling.Voornaam? leerling : kind\n        });\n        \n        flow.set('doneShootArray',doneShootArray);\n        msg.payload = leerling;\n        msg.record= \"RECORD\";\n        return msg;}\n        \n    }else{\n        leerling.TC = [];\n        leerling.TC.push(tc);\n        doneShootArray.push(leerling);\n        flow.set('doneShootArray',doneShootArray);\n        msg.payload = leerling;\n         msg.record= \"RECORD\";\n        return msg;\n    }\n}\n\n// stop opname kind\nif(msg.topic===\"stop\" && recordKid.TC[recordKid.TC.length-1].out===0){\nconst arrayWithRecordKid = doneShootArray.map(kind=> {if(kind.Naam===leerling.Naam&&kind.Voornaam===leerling.Voornaam){\n    kind.TC[kind.TC.length-1].out = msg.payload;\n    return kind;\n}else{ return kind;\n    }\n});\nflow.set('doneShootArray',arrayWithRecordKid);\n\n}else{\n    msg.payload = \"no record started\";\n}\n\n//if(msg.topic==='stop'&& leerling.TC[firstKid.TC.length-1].out===0){\n    // fill out\n  //  leerling.TC[leerling.TC.length-1].out= msg.payload;\n    //add kid to doneShootArray\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1100,
        "wires": [
            [
                "322c97c2.9c48f"
            ]
        ]
    },
    {
        "id": "7e891fcc.370c1",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "34219648.68b2d2",
        "name": "START/STOP OPNAME KIND 3",
        "func": "const kidsShootArray = flow.get('kidsShootArray');\nlet firstKid = kidsShootArray[2];\n// zoek kind in object\nlet schoolObject = flow.get('schoolObject')\nlet leerling = schoolObject.filter(kind=>kind.Naam===firstKid.Naam&&kind.Voornaam===firstKid.Voornaam)[0];\n\nlet doneShootArray = flow.get('doneShootArray')|| [];\nlet recordKid = doneShootArray.filter(kind=>kind.Naam===firstKid.Naam&&kind.Voornaam===firstKid.Voornaam)[0];\nlet newDoneShootArray;\nlet tc = {in:msg.payload, out:0};\n\nif(msg.topic==='start'){\n    if(leerling.TC){\n        if(leerling.TC[leerling.TC.length-1].out===0){\n         return msg\n        }else{\n        leerling.TC.push(tc);\n        doneShootArray.push(leerling);\n        \n        doneShootArray.map(kind=>{\n            kind.Naam===leerling.Naam && kind.Voornaam===leerling.Voornaam? leerling : kind\n        });\n        \n        flow.set('doneShootArray',doneShootArray);\n        msg.payload = leerling;\n        msg.record= \"RECORD\";\n        return msg;}\n        \n    }else{\n        leerling.TC = [];\n        leerling.TC.push(tc);\n        doneShootArray.push(leerling);\n        flow.set('doneShootArray',doneShootArray);\n        msg.payload = leerling;\n         msg.record= \"RECORD\";\n        return msg;\n    }\n}\n\n// stop opname kind\nif(msg.topic===\"stop\" && recordKid.TC[recordKid.TC.length-1].out===0){\nconst arrayWithRecordKid = doneShootArray.map(kind=> {if(kind.Naam===leerling.Naam&&kind.Voornaam===leerling.Voornaam){\n    kind.TC[kind.TC.length-1].out = msg.payload;\n    return kind;\n}else{ return kind;\n    }\n});\nflow.set('doneShootArray',arrayWithRecordKid);\n\n}else{\n    msg.payload = \"no record started\";\n}\n\n//if(msg.topic==='stop'&& leerling.TC[firstKid.TC.length-1].out===0){\n    // fill out\n  //  leerling.TC[leerling.TC.length-1].out= msg.payload;\n    //add kid to doneShootArray\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1200,
        "wires": [
            [
                "322c97c2.9c48f"
            ]
        ]
    },
    {
        "id": "5897544a.c27fa4",
        "type": "split",
        "z": "cd55794b.d22868",
        "g": "ad8faa87.ec0ee8",
        "name": "splits array in objecten",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 880,
        "y": 1440,
        "wires": [
            [
                "a2e634e6.4a6548"
            ]
        ]
    },
    {
        "id": "8950625b.187208",
        "type": "ui_button",
        "z": "cd55794b.d22868",
        "g": "ad8faa87.ec0ee8",
        "name": "",
        "group": "5aa2d225.1cbb4c",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Create shoot-folders",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "doneShootArray",
        "payloadType": "flow",
        "topic": "/home/nicolaas/Documents/schoolshoots",
        "topicType": "str",
        "x": 140,
        "y": 1440,
        "wires": [
            [
                "5897544a.c27fa4"
            ]
        ]
    },
    {
        "id": "a2e634e6.4a6548",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "ad8faa87.ec0ee8",
        "name": "bepaal bestandsnaam",
        "func": "\nconst folderNaam= String(msg.payload.Klascode)+\"_\"+String(msg.payload.KlasNr)+\"_\"+ String(msg.payload.Voornaam)+\"_\"+String(msg.payload.Naam);\nmsg.payload.naam=folderNaam;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 1440,
        "wires": [
            [
                "570717de.8d5228"
            ]
        ]
    },
    {
        "id": "570717de.8d5228",
        "type": "fs-mkdir",
        "z": "cd55794b.d22868",
        "g": "ad8faa87.ec0ee8",
        "name": "",
        "purpose": "reg",
        "path": "topic",
        "pathType": "msg",
        "foldername": "payload.naam",
        "foldernameType": "msg",
        "recursive": true,
        "exists": true,
        "prefix": "",
        "prefixType": "str",
        "mode": "777",
        "property": "payload",
        "propertyType": "msg",
        "x": 1370,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "72eea392.45fc2c",
        "type": "ui_button",
        "z": "cd55794b.d22868",
        "g": "ad8faa87.ec0ee8",
        "name": "",
        "group": "5aa2d225.1cbb4c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Store current shoot in DATABASE",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "doneShootArray",
        "payloadType": "flow",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 1380,
        "wires": [
            [
                "acacdcbf.be41f"
            ]
        ]
    },
    {
        "id": "acacdcbf.be41f",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "ad8faa87.ec0ee8",
        "name": "Make object from array",
        "func": "let storeObject= msg.payload.reduce((o, cur)=> ({ ...o, [cur.Klascode+\"_\"+cur.KlasNr+\"_\"+cur.Naam+ \"_\" +cur.Voornaam]: cur}),{});\nconst school = flow.get('geselecteerdeSchool');\nconst sync = flow.get('timeSync');\nstoreObject= {...storeObject,school,sync};\nmsg.payload = storeObject;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1380,
        "wires": [
            [
                "1babdd83.6ba232"
            ]
        ]
    },
    {
        "id": "322c97c2.9c48f",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "34219648.68b2d2",
        "name": "",
        "func": "let doneShootArray = flow.get('doneShootArray');\nlet recordKidArray = doneShootArray.filter(kind=>kind.TC[kind.TC.length-1].out===0);\nlet recordKidArrayForList = recordKidArray.map(kind=> {return{...kind, title: `${kind.Voornaam} ${kind.Naam} ${kind.Klascode}`} });\n\nmsg.payload = recordKidArrayForList;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 1100,
        "wires": [
            [
                "935c641.beb7998",
                "4981d535.47513c"
            ]
        ]
    },
    {
        "id": "916abc26.1b89e",
        "type": "ui_form",
        "z": "cd55794b.d22868",
        "g": "ad8faa87.ec0ee8",
        "name": "Create folders",
        "label": "create shoot-folders in other folder:",
        "group": "5aa2d225.1cbb4c",
        "order": 6,
        "width": "6",
        "height": "6",
        "options": [
            {
                "label": "path",
                "value": "path",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "path": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "doneShootArray",
        "topicType": "flow",
        "splitLayout": "",
        "className": "",
        "x": 120,
        "y": 1480,
        "wires": [
            [
                "e0875bef.fe987"
            ]
        ]
    },
    {
        "id": "21d11546.d7faea",
        "type": "split",
        "z": "cd55794b.d22868",
        "g": "ad8faa87.ec0ee8",
        "name": "splits array in objecten",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 880,
        "y": 1480,
        "wires": [
            [
                "a2e634e6.4a6548"
            ]
        ]
    },
    {
        "id": "e0875bef.fe987",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "ad8faa87.ec0ee8",
        "name": "",
        "func": "const array = msg.topic;\nmsg.topic = msg.payload.path;\nmsg.payload = array;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1480,
        "wires": [
            [
                "21d11546.d7faea"
            ]
        ]
    },
    {
        "id": "6757bdff.0a7dc4",
        "type": "ui_text",
        "z": "cd55794b.d22868",
        "g": "ad8faa87.ec0ee8",
        "group": "5aa2d225.1cbb4c",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Storing sign",
        "label": "",
        "format": "{{msg.payload.result.ok ===1? \"stored\": \" \" }}",
        "layout": "row-spread",
        "className": "",
        "x": 1450,
        "y": 1380,
        "wires": []
    },
    {
        "id": "8eb1ea32.2d8de",
        "type": "delay",
        "z": "cd55794b.d22868",
        "g": "ad8faa87.ec0ee8",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 1100,
        "y": 1340,
        "wires": [
            [
                "28701bdc.464854"
            ]
        ]
    },
    {
        "id": "28701bdc.464854",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "ad8faa87.ec0ee8",
        "name": "",
        "func": "msg.payload = \" \";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 1340,
        "wires": [
            [
                "6757bdff.0a7dc4"
            ]
        ]
    },
    {
        "id": "4981d535.47513c",
        "type": "ui_text",
        "z": "cd55794b.d22868",
        "g": "34219648.68b2d2",
        "group": "5aa2d225.1cbb4c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Recording",
        "label": "",
        "format": "{{msg.payload.length>=1? \"RECORDING\": \" NOT recording\" }}",
        "layout": "row-spread",
        "className": "",
        "x": 1270,
        "y": 1100,
        "wires": []
    },
    {
        "id": "fd002cdd.2d24e8",
        "type": "ui_text",
        "z": "cd55794b.d22868",
        "g": "cdd39d1f.f30da",
        "group": "bb1b2a75.d9f258",
        "order": 2,
        "width": "10",
        "height": "3",
        "name": "",
        "label": "Countdown",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 2200,
        "wires": []
    },
    {
        "id": "43fafb2e.5ed64c",
        "type": "ui_button",
        "z": "cd55794b.d22868",
        "g": "cdd39d1f.f30da",
        "name": "",
        "group": "bb1b2a75.d9f258",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "SYNC CAMERA",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 2200,
        "wires": [
            [
                "70b2d897.6dd96"
            ]
        ]
    },
    {
        "id": "d621b257.54d74",
        "type": "ui_text",
        "z": "cd55794b.d22868",
        "g": "cdd39d1f.f30da",
        "group": "bb1b2a75.d9f258",
        "order": 3,
        "width": "10",
        "height": "6",
        "name": "",
        "label": "Timestamp",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 850,
        "y": 2160,
        "wires": []
    },
    {
        "id": "2a0d7908.87dbde",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "cdd39d1f.f30da",
        "name": "Store sync in flow",
        "func": "flow.set('timeSync', msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 2260,
        "wires": [
            []
        ]
    },
    {
        "id": "a62cc615.c13da8",
        "type": "ui_button",
        "z": "cd55794b.d22868",
        "g": "9832714f.f82cf",
        "name": "",
        "group": "537fedb2.98a2d4",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "RESET ALL",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 2000,
        "wires": [
            [
                "a6206193.9829d8"
            ]
        ]
    },
    {
        "id": "f5f45979.a62ab",
        "type": "split",
        "z": "cd55794b.d22868",
        "g": "97c1d63a.ce2dc",
        "name": "splits array in objecten",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 900,
        "y": 2460,
        "wires": [
            [
                "ac250e1c.9c46"
            ]
        ]
    },
    {
        "id": "3ba76cde.556fcc",
        "type": "ui_button",
        "z": "cd55794b.d22868",
        "g": "97c1d63a.ce2dc",
        "name": "",
        "group": "133ead54.627ddb",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Create shoot-folders to schoolshoots",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "doneShootArray",
        "payloadType": "flow",
        "topic": "/home/nicolaas/Documents/schoolshoots",
        "topicType": "str",
        "x": 210,
        "y": 2460,
        "wires": [
            []
        ]
    },
    {
        "id": "189b2d3.481f453",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "97c1d63a.ce2dc",
        "name": "bepaal bestandsnaam",
        "func": "const path=msg.payload;\nconst schoolShoot= flow.get('schoolShoot');\nconst schoolShootArray = Object.values(schoolShoot);\nconst shootArrayWithFolderName = schoolShootArray.filter(kid=>kid.Klascode).map(kid=>{\n    if(kid.Klascode){\n   const folderName= String(kid.Klascode)+\"_\"+String(kid.KlasNr)+\"_\"+ String(kid.Voornaam)+\"_\"+String(kid.Naam);\n   return folderName;}\n})\nmsg.path= path;\nmsg.payload=shootArrayWithFolderName;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 2460,
        "wires": [
            [
                "f5f45979.a62ab"
            ]
        ]
    },
    {
        "id": "515a4516.11ad44",
        "type": "fs-mkdir",
        "z": "cd55794b.d22868",
        "g": "97c1d63a.ce2dc",
        "name": "maak alle shootfolders",
        "purpose": "reg",
        "path": "path",
        "pathType": "msg",
        "foldername": "payload",
        "foldernameType": "msg",
        "recursive": true,
        "exists": true,
        "prefix": "",
        "prefixType": "str",
        "mode": "777",
        "property": "payload",
        "propertyType": "msg",
        "x": 1340,
        "y": 2460,
        "wires": [
            []
        ]
    },
    {
        "id": "b70321b3.0888e8",
        "type": "ui_form",
        "z": "cd55794b.d22868",
        "g": "97c1d63a.ce2dc",
        "name": "Create shoot-folders form",
        "label": "CREATE shoot-folders:",
        "group": "133ead54.627ddb",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "school",
                "value": "school",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "path",
                "value": "path",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "school": "",
            "path": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "shoot",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 210,
        "y": 2560,
        "wires": [
            [
                "57d37fbc.0c18a"
            ]
        ]
    },
    {
        "id": "973be4f5.7b213",
        "type": "fs-mkdir",
        "z": "cd55794b.d22868",
        "g": "97c1d63a.ce2dc",
        "name": "maak syncPic map",
        "purpose": "reg",
        "path": "folderPath",
        "pathType": "msg",
        "foldername": "syncPic",
        "foldernameType": "str",
        "recursive": true,
        "exists": true,
        "prefix": "",
        "prefixType": "str",
        "mode": "777",
        "property": "payload",
        "propertyType": "msg",
        "x": 1190,
        "y": 2580,
        "wires": [
            []
        ]
    },
    {
        "id": "c38cd00d.0f68d",
        "type": "fs-mkdir",
        "z": "cd55794b.d22868",
        "g": "97c1d63a.ce2dc",
        "name": "maak shoot map",
        "purpose": "reg",
        "path": "folderPath",
        "pathType": "msg",
        "foldername": "shoot",
        "foldernameType": "str",
        "recursive": true,
        "exists": true,
        "prefix": "",
        "prefixType": "str",
        "mode": "777",
        "property": "payload",
        "propertyType": "msg",
        "x": 1180,
        "y": 2540,
        "wires": [
            [
                "189b2d3.481f453",
                "342cf577.b7c01a"
            ]
        ]
    },
    {
        "id": "fadcbd40.a4b0a",
        "type": "fs-mkdir",
        "z": "cd55794b.d22868",
        "g": "97c1d63a.ce2dc",
        "name": "maak Fotoshoot map",
        "purpose": "reg",
        "path": "/home/nicolaas/Documents/schoolshoots",
        "pathType": "str",
        "foldername": "mainFolderName",
        "foldernameType": "msg",
        "recursive": true,
        "exists": true,
        "prefix": "",
        "prefixType": "str",
        "mode": "777",
        "property": "payload",
        "propertyType": "msg",
        "x": 880,
        "y": 2560,
        "wires": [
            [
                "973be4f5.7b213",
                "c38cd00d.0f68d",
                "be87e69c.8276b"
            ]
        ]
    },
    {
        "id": "57d37fbc.0c18a",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "97c1d63a.ce2dc",
        "name": "maak paths",
        "func": "const shoot=flow.get('schoolShoot');\nconst date= new Date(shoot.sync);\nconst dateString= `${date.getDate()}-${date.getMonth()+1}-${date.getFullYear()}`;\nconst mainPath = msg.payload.path;\nconst mainFolderName = `${msg.payload.school}_${dateString}`;\nconst folderPath = `${mainPath}/${mainFolderName}`;\nmsg.mainPath = mainPath;\nmsg.folderPath = folderPath;\nmsg.mainFolderName = mainFolderName;\nmsg.shoot=shoot;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 2560,
        "wires": [
            [
                "fadcbd40.a4b0a"
            ]
        ]
    },
    {
        "id": "6b61b16d.b5b9b8",
        "type": "ui_toast",
        "z": "cd55794b.d22868",
        "g": "97c1d63a.ce2dc",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "msg.className",
        "topic": "",
        "name": "",
        "x": 1360,
        "y": 2680,
        "wires": []
    },
    {
        "id": "422ced9a.bbf124",
        "type": "ui_button",
        "z": "cd55794b.d22868",
        "g": "97c1d63a.ce2dc",
        "name": "",
        "group": "9a8c0911.a1ef78",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Get all shoots",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 140,
        "y": 2360,
        "wires": [
            [
                "6182c037.0ae68"
            ]
        ]
    },
    {
        "id": "d46b5a3.6ec9e28",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "97c1d63a.ce2dc",
        "name": "",
        "func": "const shootsArray = Object.values(msg.payload);\nconst shootsArraywithTitles = shootsArray.map(shoot=> {\n    \n    const date=new Date(shoot.sync);\n    shoot.title= `${shoot.school} - Date:${date.getDate()}/${date.getMonth()}/${date.getFullYear()}`;\n    return shoot;\n});\nmsg.payload = shootsArraywithTitles;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 2360,
        "wires": [
            [
                "1e9fbd9.6cfbcc2"
            ]
        ]
    },
    {
        "id": "2b72d07e.5073d",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "97c1d63a.ce2dc",
        "name": "Set schoolShoot variable and PATH",
        "func": "flow.set('syncPic', msg.payload.sync);\nflow.set('schoolShoot',msg.payload);\nmsg.payload.path= \"/home/nicolaas/Documents/schoolshoots\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 2360,
        "wires": [
            [
                "b70321b3.0888e8"
            ]
        ]
    },
    {
        "id": "342cf577.b7c01a",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "97c1d63a.ce2dc",
        "name": "",
        "func": "msg.payload= msg.payload.school?\"Error: Folders maybe already exist\":\"Folders made\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 2560,
        "wires": [
            [
                "6b61b16d.b5b9b8"
            ]
        ]
    },
    {
        "id": "104c2914.5055b7",
        "type": "catch",
        "z": "cd55794b.d22868",
        "g": "97c1d63a.ce2dc",
        "name": "",
        "scope": [
            "973be4f5.7b213",
            "c38cd00d.0f68d",
            "fadcbd40.a4b0a"
        ],
        "uncaught": false,
        "x": 1370,
        "y": 2500,
        "wires": [
            [
                "342cf577.b7c01a"
            ]
        ]
    },
    {
        "id": "be87e69c.8276b",
        "type": "fs-mkdir",
        "z": "cd55794b.d22868",
        "g": "97c1d63a.ce2dc",
        "name": "maak dropzone map",
        "purpose": "reg",
        "path": "folderPath",
        "pathType": "msg",
        "foldername": "dropzone",
        "foldernameType": "str",
        "recursive": true,
        "exists": true,
        "prefix": "",
        "prefixType": "str",
        "mode": "777",
        "property": "payload",
        "propertyType": "msg",
        "x": 1200,
        "y": 2620,
        "wires": [
            []
        ]
    },
    {
        "id": "ac250e1c.9c46",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "97c1d63a.ce2dc",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 2460,
        "wires": [
            [
                "515a4516.11ad44"
            ]
        ]
    },
    {
        "id": "84e5a6f2.b5824",
        "type": "fs-list",
        "z": "cd55794b.d22868",
        "g": "63d0b15a.dac21",
        "name": "zoek shootPics",
        "path": "/home/nicolaas/Documents/schoolshoots",
        "pathType": "str",
        "pattern": "",
        "patternType": "str",
        "filter": "all",
        "recursive": true,
        "follow": false,
        "property": "list",
        "propertyType": "msg",
        "x": 420,
        "y": 2800,
        "wires": [
            [
                "a99ee38f.a6b578"
            ]
        ]
    },
    {
        "id": "9127c25.51efc4",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "63d0b15a.dac21",
        "name": "Look for syncPic",
        "func": "const foldername = msg.payload.title;\nconst standardPath=\"/home/nicolaas/Documents/schoolshoots/\";\nconst newPath= `${standardPath}${foldername}/syncPic`;\nconst dropZonePath = `${standardPath}${foldername}/dropzone`\nconst schoolName= foldername.split('_')[0];\nflow.set('schoolName',schoolName);\nflow.set('dropZonePath',dropZonePath);\n\nmsg.path=newPath;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 2900,
        "wires": [
            [
                "6f2cec66.a7471c"
            ]
        ]
    },
    {
        "id": "399f197f.200646",
        "type": "ui_button",
        "z": "cd55794b.d22868",
        "g": "63d0b15a.dac21",
        "name": "",
        "group": "a325dee2.cdfca",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Get All \"schoolshoot\" Folders",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 2800,
        "wires": [
            [
                "84e5a6f2.b5824"
            ]
        ]
    },
    {
        "id": "733ce738.de6ea8",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "63d0b15a.dac21",
        "name": "maak properties en bereken offset",
        "func": "const timestampSyncPic = msg.payload._exif.tags.CreateDate;\nconst computerTime = flow.get('timeSync');\n//check of er 13 of 10 cijfers zijn,maak er 13 van, dan verschil berekenen.\ntimestampSyncPicWithMs = timestampSyncPic.toString().length > 10?timestampSyncPic:timestampSyncPic*1000;\nconst timeOffset = Number(computerTime) - Number(timestampSyncPicWithMs);\nmsg.timestamp = timestampSyncPic;\nmsg.timeOffset = timeOffset;\nmsg.computerTime = computerTime;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 3320,
        "wires": [
            []
        ]
    },
    {
        "id": "79905b52.4997dc",
        "type": "debug",
        "z": "cd55794b.d22868",
        "g": "63d0b15a.dac21",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1590,
        "y": 3060,
        "wires": []
    },
    {
        "id": "a99ee38f.a6b578",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "63d0b15a.dac21",
        "name": "folders",
        "func": "const folders= msg.list;\nconst goodfolders= folders.filter(folder=>folder.split('/').length===1);\nmsg.payload= goodfolders.map(folder=> ({title:folder}));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 2800,
        "wires": [
            [
                "c7c04feb.a8213"
            ]
        ]
    },
    {
        "id": "9a73dc7f.40b7f8",
        "type": "ui_button",
        "z": "cd55794b.d22868",
        "g": "63d0b15a.dac21",
        "name": "",
        "group": "12c6183d.6edd78",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "send to pictime",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1100,
        "y": 3320,
        "wires": [
            []
        ]
    },
    {
        "id": "6f2cec66.a7471c",
        "type": "fs-list",
        "z": "cd55794b.d22868",
        "g": "63d0b15a.dac21",
        "name": "zoek syncPic",
        "path": "path",
        "pathType": "msg",
        "pattern": "",
        "patternType": "str",
        "filter": "files",
        "recursive": true,
        "follow": true,
        "property": "list",
        "propertyType": "msg",
        "x": 510,
        "y": 2900,
        "wires": [
            [
                "928b89bd.141ab8"
            ]
        ]
    },
    {
        "id": "928b89bd.141ab8",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "63d0b15a.dac21",
        "name": "make path for syncPic",
        "func": "const folderPath = msg.path;\nconst syncPicName=msg.list[0];\nconst newPath= `${folderPath}/${syncPicName}`;\n\nmsg.path=newPath;\nmsg.src=newPath;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 2900,
        "wires": [
            []
        ]
    },
    {
        "id": "559aa50a.a0f554",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "63d0b15a.dac21",
        "name": "Data from exif",
        "func": "const exif = msg.exif.exif.DateTimeOriginal;\nmsg.payload = exif;\nflow.set('syncPicTime', exif);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 2900,
        "wires": [
            [
                "7ce9c288.817244"
            ]
        ]
    },
    {
        "id": "7ce9c288.817244",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "63d0b15a.dac21",
        "name": "get syncpictime",
        "func": "const syncPicTime= msg.payload;\nconst dateSplit= syncPicTime.split(' ');\ndateSplit[0] = dateSplit[0].split(':').join('-');\nconst dateJoin=dateSplit.join('T');\nconst dateAddT= dateJoin + 'Z';\nconst time=Date.parse(dateAddT);\n\nmsg.payload= time;\nflow.set('syncPicTime',time);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 2900,
        "wires": [
            [
                "54f618c7.c3a2d"
            ]
        ]
    },
    {
        "id": "54f618c7.c3a2d",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "63d0b15a.dac21",
        "name": "Make query",
        "func": "const schoolShoot= msg.payload.title;\n\nconst schoolName= flow.get('schoolName')\nconst query = [{school:schoolName}]\nmsg.payload=query;\nmsg.school= schoolName;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 2960,
        "wires": [
            [
                "b9ddfd4a.63e618"
            ]
        ]
    },
    {
        "id": "c24af91f.5bf868",
        "type": "inject",
        "z": "cd55794b.d22868",
        "g": "63d0b15a.dac21",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 3040,
        "wires": [
            []
        ]
    },
    {
        "id": "75f9642c.a2d394",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "63d0b15a.dac21",
        "name": "",
        "func": "const syncPicTime = flow.get('syncPicTime');\nconst shoot= msg.payload[0];\nflow.set('currentShoot', shoot);\nconst syncPcTime= shoot.sync;\nflow.set('syncPcTime',syncPcTime);\n\nmsg.syncPc = syncPcTime;\n\nmsg.syncPic = syncPicTime;\nconst syncDiff = syncPcTime-syncPicTime;\nmsg.syncDiff = syncDiff;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 2960,
        "wires": [
            [
                "45eea892.de9788"
            ]
        ]
    },
    {
        "id": "45eea892.de9788",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "63d0b15a.dac21",
        "name": "",
        "func": "const syncPicTime = flow.get('syncPicTime');\nconst syncPcTime = flow.get('syncPcTime');\nconst currentShoot = flow.get('currentShoot');\nconst dropZonePath = flow.get('dropZonePath');\n\nmsg.syncPic = syncPicTime;\nmsg.syncPc= syncPcTime;\nmsg.dropZonePath= dropZonePath;\n\ndelete currentShoot._id;\ndelete currentShoot.school;\ndelete currentShoot.sync;\n\nmsg.shoot = currentShoot;\n\n\nmsg.syncDiff = syncPcTime - syncPicTime;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 3080,
        "wires": [
            [
                "cf820012.6011f8"
            ]
        ]
    },
    {
        "id": "415936b9.619fa8",
        "type": "split",
        "z": "cd55794b.d22868",
        "g": "63d0b15a.dac21",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 850,
        "y": 3080,
        "wires": [
            [
                "7624565e.ee4e2"
            ]
        ]
    },
    {
        "id": "cf820012.6011f8",
        "type": "fs-list",
        "z": "cd55794b.d22868",
        "g": "63d0b15a.dac21",
        "name": "",
        "path": "dropZonePath",
        "pathType": "msg",
        "pattern": "*",
        "patternType": "str",
        "filter": "files",
        "recursive": false,
        "follow": true,
        "property": "list",
        "propertyType": "msg",
        "x": 500,
        "y": 3080,
        "wires": [
            [
                "38cc576f.38301"
            ]
        ]
    },
    {
        "id": "38cc576f.38301",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "63d0b15a.dac21",
        "name": "",
        "func": "msg.payload = msg.list;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 3080,
        "wires": [
            [
                "415936b9.619fa8"
            ]
        ]
    },
    {
        "id": "7624565e.ee4e2",
        "type": "delay",
        "z": "cd55794b.d22868",
        "g": "63d0b15a.dac21",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 1020,
        "y": 3080,
        "wires": [
            [
                "d575989b.748d5"
            ]
        ]
    },
    {
        "id": "d575989b.748d5",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "63d0b15a.dac21",
        "name": "",
        "func": "const dropZonePath = msg.dropZonePath;\n\nconst newPath = dropZonePath + \"/\" + msg.payload;\n\nmsg.payload = newPath;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 3080,
        "wires": [
            [
                "5b7e2b8e.98c504"
            ]
        ]
    },
    {
        "id": "ef81887a.f410c",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "63d0b15a.dac21",
        "name": "Data from exif",
        "func": "const exif = msg.exif.exif.DateTimeOriginal;\nmsg.payload = exif;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 3160,
        "wires": [
            [
                "456ed274.9c9b04"
            ]
        ]
    },
    {
        "id": "456ed274.9c9b04",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "63d0b15a.dac21",
        "name": "get pictime",
        "func": "const exif = msg.exif.exif.DateTimeOriginal;\nconst picTime= exif;\nconst dateSplit= picTime.split(' ');\ndateSplit[0] = dateSplit[0].split(':').join('-');\nconst dateJoin=dateSplit.join('T');\nconst dateAddT= dateJoin + 'Z';\nconst time=Date.parse(dateAddT);\n\nmsg.payload= time;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 3160,
        "wires": [
            [
                "9051e559.85469"
            ]
        ]
    },
    {
        "id": "5b7e2b8e.98c504",
        "type": "fs-stats",
        "z": "cd55794b.d22868",
        "g": "63d0b15a.dac21",
        "name": "",
        "path": "payload",
        "pathType": "msg",
        "filename": "filename",
        "filenameType": "msg",
        "attr": "",
        "follow": false,
        "property": "stats",
        "propertyType": "msg",
        "x": 120,
        "y": 3160,
        "wires": [
            [
                "fade30c3.f1184"
            ]
        ]
    },
    {
        "id": "8ab59aa7.a17e58",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "63d0b15a.dac21",
        "name": "look in shoot for matches",
        "func": "const picTC = msg.payload;\nconst syncDiff= msg.syncDiff;\nconst shoot = msg.shoot;\n// correct with difference\nconst picTcCorrected = picTC + syncDiff;\nmsg.picTcCorrected = picTcCorrected;\nmsg.tcArray=[];\n\n// filter shoot in new array\n\nconst shootArray = Object.values(shoot);\n\nconst kidsList= shootArray.map(kid =>  {\n    \n   const tcArray =  kid.TC.map(timecode=> timecode.in<picTcCorrected&&timecode.out>picTcCorrected);\n   msg.tcArray.push(tcArray);\n   \n    if( tcArray.find(element=> element===true)){\n        return kid}\n    else{ return null }\n})\n\n\n//const kidsList = shootArray.map(\n//    kid=> kid.TC.map(range=> (range.in<picTcCorrected&&range.out>picTcCorrected)?true:false)?kid:null\n  //  );\n    \nmsg.kidsList = kidsList.filter(val=>val != null);\n msg.shootArray = shootArray;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 3220,
        "wires": [
            [
                "9110bcc1.da0f1"
            ]
        ]
    },
    {
        "id": "9051e559.85469",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "63d0b15a.dac21",
        "name": "PUT IN FAKE TIMESTAMP___TEST",
        "func": "\nmsg.payload= 1660044174448;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 3160,
        "wires": [
            [
                "8ab59aa7.a17e58"
            ]
        ]
    },
    {
        "id": "fd6925e2.e36a18",
        "type": "file",
        "z": "cd55794b.d22868",
        "g": "63d0b15a.dac21",
        "name": "",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 350,
        "y": 3260,
        "wires": [
            []
        ]
    },
    {
        "id": "9110bcc1.da0f1",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "63d0b15a.dac21",
        "name": "make destination names en paths",
        "func": "const kidsList = msg.kidsList;\nconst originalPath = msg.originalPath;\n\nconst destinationSplit = originalPath.split(\"/\");\nconst originalPicName = destinationSplit.pop();\n\ndestinationSplit.pop();\n\ndestinationSplit.push('shoot');\n\nconst destinationPath = destinationSplit.join(\"/\");\n\nmsg.destinationPath = destinationPath ; \n\n\nconst destinationList = kidsList.map(kid=> {\n    const fileName= kid.Klascode+\"_\"+kid.KlasNr+\"_\"+kid.Voornaam+\"_\"+kid.Naam;\n    return fileName;\n});\n\nmsg.destinationList=destinationList;\n\ndestinationArray = destinationList.map(element=>  destinationPath +\"/\" +element);\n\nmsg.payload= msg.destinationArray = destinationArray;\n\nmsg.originalPicName = originalPicName;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 3220,
        "wires": [
            [
                "2f83c6ec.6c6502"
            ]
        ]
    },
    {
        "id": "fade30c3.f1184",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "63d0b15a.dac21",
        "name": "add original Path",
        "func": "const originalPath = msg.payload;\nmsg.originalPath = originalPath;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 3160,
        "wires": [
            []
        ]
    },
    {
        "id": "2f83c6ec.6c6502",
        "type": "split",
        "z": "cd55794b.d22868",
        "g": "63d0b15a.dac21",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 770,
        "y": 3220,
        "wires": [
            [
                "a3d58377.b4b4e"
            ]
        ]
    },
    {
        "id": "a3d58377.b4b4e",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "63d0b15a.dac21",
        "name": "Make final destination path and list",
        "func": "let destinationPath = msg.payload;\n\nmsg.destinationPath = destinationPath;\n\nconst destinationList = msg.destinationList;\nmsg.payload = destinationList;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 3220,
        "wires": [
            [
                "d7905e90.d22e8"
            ]
        ]
    },
    {
        "id": "d7905e90.d22e8",
        "type": "split",
        "z": "cd55794b.d22868",
        "g": "63d0b15a.dac21",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1230,
        "y": 3220,
        "wires": [
            [
                "54c44181.90bee"
            ]
        ]
    },
    {
        "id": "b68f2fa4.c794",
        "type": "google-spreadsheet",
        "z": "cd55794b.d22868",
        "name": "Klas5-sheet",
        "auth": "740d6b4f.ab7894",
        "sheet": "1jrz-g1fYDfvzzRA9pbV2a7yXXqCF5urZJ2A7-wKWLnY",
        "range": "Klas5",
        "method": "update",
        "direction": "column",
        "action": "get",
        "clear": false,
        "line": true,
        "column": true,
        "fields": "select",
        "save": "_sheet",
        "selfields": [
            ""
        ],
        "cell_l": "1",
        "cell_c": "A",
        "input": "payload",
        "output": "payload",
        "saveType": "msg",
        "inputType": "msg",
        "outputType": "msg",
        "sheetType": "str",
        "rangeType": "str",
        "cell_lType": "str",
        "cell_cType": "str",
        "x": 390,
        "y": 400,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "735b2c65.ec7dc4",
        "type": "mongodb3 in",
        "z": "cd55794b.d22868",
        "g": "36ea01e7.5b4cee",
        "service": "_ext_",
        "configNode": "7b163364.9970f4",
        "name": "",
        "collection": "Scholen",
        "operation": "find.forEach",
        "x": 390,
        "y": 400,
        "wires": [
            [
                "12d12942.ec03df"
            ]
        ]
    },
    {
        "id": "96d10405.908a8",
        "type": "mongodb3 in",
        "z": "cd55794b.d22868",
        "g": "36ea01e7.5b4cee",
        "service": "_ext_",
        "configNode": "7b163364.9970f4",
        "name": "",
        "collection": "Scholen",
        "operation": "findOne",
        "x": 840,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "5d98610b.0286e8",
        "type": "mongodb3 in",
        "z": "cd55794b.d22868",
        "g": "36ea01e7.5b4cee",
        "service": "_ext_",
        "configNode": "7b163364.9970f4",
        "name": "",
        "collection": "Scholen",
        "operation": "findOne",
        "x": 560,
        "y": 600,
        "wires": [
            [
                "6c13f7d8.bbfb18"
            ]
        ]
    },
    {
        "id": "1babdd83.6ba232",
        "type": "mongodb3 in",
        "z": "cd55794b.d22868",
        "g": "ad8faa87.ec0ee8",
        "service": "_ext_",
        "configNode": "7b163364.9970f4",
        "name": "",
        "collection": "Shoots",
        "operation": "insertOne",
        "x": 840,
        "y": 1380,
        "wires": [
            [
                "6757bdff.0a7dc4",
                "8eb1ea32.2d8de"
            ]
        ]
    },
    {
        "id": "6182c037.0ae68",
        "type": "mongodb3 in",
        "z": "cd55794b.d22868",
        "g": "97c1d63a.ce2dc",
        "service": "_ext_",
        "configNode": "7b163364.9970f4",
        "name": "",
        "collection": "Shoots",
        "operation": "find.toArray",
        "x": 390,
        "y": 2360,
        "wires": [
            [
                "d46b5a3.6ec9e28"
            ]
        ]
    },
    {
        "id": "b9ddfd4a.63e618",
        "type": "mongodb3 in",
        "z": "cd55794b.d22868",
        "g": "63d0b15a.dac21",
        "service": "_ext_",
        "configNode": "7b163364.9970f4",
        "name": "",
        "collection": "Shoots",
        "operation": "find.toArray",
        "x": 420,
        "y": 2960,
        "wires": [
            [
                "75f9642c.a2d394"
            ]
        ]
    },
    {
        "id": "9874743a.add768",
        "type": "ui_list",
        "z": "cd55794b.d22868",
        "g": "36ea01e7.5b4cee",
        "group": "563ac69c.e7e75",
        "name": "Klassen lijst",
        "order": 2,
        "width": 6,
        "height": 14,
        "lineType": "two",
        "actionType": "click",
        "allowHTML": false,
        "outputs": 1,
        "topic": "",
        "x": 1350,
        "y": 600,
        "wires": [
            [
                "9b9399ab.15d0f8"
            ]
        ]
    },
    {
        "id": "70df9fa4.0be62",
        "type": "ui_list",
        "z": "cd55794b.d22868",
        "g": "36ea01e7.5b4cee",
        "group": "ed614b47.ca9b18",
        "name": "Leerlingen lijst",
        "order": 2,
        "width": 6,
        "height": 14,
        "lineType": "three",
        "actionType": "click",
        "allowHTML": false,
        "outputs": 1,
        "topic": "",
        "x": 1100,
        "y": 760,
        "wires": [
            [
                "d412a530.dd8d78"
            ]
        ]
    },
    {
        "id": "c871fa76.922e8",
        "type": "ui_list",
        "z": "cd55794b.d22868",
        "g": "36ea01e7.5b4cee",
        "group": "4b2c0218.c41c54",
        "name": "Scholen lijst",
        "order": 1,
        "width": "4",
        "height": 15,
        "lineType": "three",
        "actionType": "click",
        "allowHTML": false,
        "outputs": 1,
        "topic": "",
        "x": 1090,
        "y": 400,
        "wires": [
            [
                "e6be17a2.a36e1",
                "bf7bb902.caa25"
            ]
        ]
    },
    {
        "id": "935c641.beb7998",
        "type": "ui_list",
        "z": "cd55794b.d22868",
        "g": "34219648.68b2d2",
        "group": "5aa2d225.1cbb4c",
        "name": "Record lijst",
        "order": 2,
        "width": 6,
        "height": "8",
        "lineType": "two",
        "actionType": "none",
        "allowHTML": false,
        "outputs": 0,
        "topic": "",
        "x": 1280,
        "y": 1160,
        "wires": []
    },
    {
        "id": "1e9fbd9.6cfbcc2",
        "type": "ui_list",
        "z": "cd55794b.d22868",
        "g": "97c1d63a.ce2dc",
        "group": "9a8c0911.a1ef78",
        "name": "",
        "order": 2,
        "width": "7",
        "height": "8",
        "lineType": "one",
        "actionType": "click",
        "allowHTML": false,
        "outputs": 1,
        "topic": "",
        "x": 770,
        "y": 2360,
        "wires": [
            [
                "2b72d07e.5073d"
            ]
        ]
    },
    {
        "id": "c7c04feb.a8213",
        "type": "ui_list",
        "z": "cd55794b.d22868",
        "g": "63d0b15a.dac21",
        "group": "a325dee2.cdfca",
        "name": "",
        "order": 3,
        "width": "8",
        "height": "10",
        "lineType": "two",
        "actionType": "click",
        "allowHTML": false,
        "outputs": 1,
        "topic": "",
        "x": 170,
        "y": 2900,
        "wires": [
            [
                "9127c25.51efc4",
                "79905b52.4997dc"
            ]
        ]
    },
    {
        "id": "86143258.41422",
        "type": "exif",
        "z": "cd55794b.d22868",
        "g": "63d0b15a.dac21",
        "name": "",
        "mode": "normal",
        "property": "payload",
        "x": 990,
        "y": 2900,
        "wires": [
            [
                "559aa50a.a0f554"
            ]
        ]
    },
    {
        "id": "99185059.45982",
        "type": "exif",
        "z": "cd55794b.d22868",
        "g": "63d0b15a.dac21",
        "name": "",
        "mode": "normal",
        "property": "payload",
        "x": 610,
        "y": 3160,
        "wires": [
            [
                "ef81887a.f410c"
            ]
        ]
    },
    {
        "id": "54c44181.90bee",
        "type": "fs-ops-copy",
        "z": "cd55794b.d22868",
        "g": "63d0b15a.dac21",
        "name": "",
        "sourcePath": "",
        "sourcePathType": "str",
        "sourceFilename": "originalPath",
        "sourceFilenameType": "msg",
        "destPath": "destinationPath",
        "destPathType": "msg",
        "destFilename": "originalPicName",
        "destFilenameType": "msg",
        "link": false,
        "overwrite": false,
        "x": 1360,
        "y": 3220,
        "wires": [
            [
                "79905b52.4997dc"
            ]
        ]
    },
    {
        "id": "57ba75db.7fc93c",
        "type": "jimp-image",
        "z": "cd55794b.d22868",
        "g": "63d0b15a.dac21",
        "name": "",
        "data": "path",
        "dataType": "msg",
        "ret": "b64",
        "parameter1": "",
        "parameter1Type": "msg",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 0,
        "jimpFunction": "none",
        "selectedJimpFunction": {
            "name": "none",
            "fn": "none",
            "description": "Just loads the image.",
            "parameters": []
        },
        "x": 870,
        "y": 2900,
        "wires": [
            [
                "86143258.41422"
            ]
        ]
    },
    {
        "id": "ce80d851.3c9628",
        "type": "jimp-image",
        "z": "cd55794b.d22868",
        "g": "63d0b15a.dac21",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "ret": "b64",
        "parameter1": "",
        "parameter1Type": "msg",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 0,
        "jimpFunction": "none",
        "selectedJimpFunction": {
            "name": "none",
            "fn": "none",
            "description": "Just loads the image.",
            "parameters": []
        },
        "x": 470,
        "y": 3160,
        "wires": [
            [
                "99185059.45982"
            ]
        ]
    },
    {
        "id": "70b2d897.6dd96",
        "type": "countdown",
        "z": "cd55794b.d22868",
        "g": "cdd39d1f.f30da",
        "name": "",
        "topic": "cameraSync",
        "payloadTimerStart": "Neem syncfoto op 0 ",
        "payloadTimerStartType": "str",
        "payloadTimerStop": "",
        "payloadTimerStopType": "date",
        "timer": "5",
        "resetWhileRunning": true,
        "setTimeToNewWhileRunning": true,
        "startCountdownOnControlMessage": false,
        "x": 430,
        "y": 2200,
        "wires": [
            [
                "d621b257.54d74",
                "2a0d7908.87dbde"
            ],
            [
                "fd002cdd.2d24e8"
            ]
        ]
    },
    {
        "id": "c056ae7e.b25dd8",
        "type": "mongodb3 in",
        "z": "cd55794b.d22868",
        "g": "cf3be9f2.e63838",
        "service": "_ext_",
        "configNode": "7b163364.9970f4",
        "name": "",
        "collection": "Scholen",
        "operation": "insertOne",
        "x": 780,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "4ee77c15.9840c4",
        "type": "ui_form",
        "z": "cd55794b.d22868",
        "g": "cf3be9f2.e63838",
        "name": "",
        "label": "Download",
        "group": "3d9f466b.162f12",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Naam School",
                "value": "school",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Datum",
                "value": "datum",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "Graad",
                "value": "graad",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "school": "",
            "datum": "",
            "graad": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 100,
        "y": 160,
        "wires": [
            [
                "482da5f2.e4c4b4",
                "9be7f92d.932f38"
            ]
        ]
    },
    {
        "id": "482da5f2.e4c4b4",
        "type": "google-spreadsheet",
        "z": "cd55794b.d22868",
        "g": "cf3be9f2.e63838",
        "name": "arrayScholen",
        "auth": "740d6b4f.ab7894",
        "sheet": "1jrz-g1fYDfvzzRA9pbV2a7yXXqCF5urZJ2A7-wKWLnY",
        "range": "school!A1:G500",
        "method": "update",
        "direction": "line",
        "action": "get",
        "clear": false,
        "line": true,
        "column": true,
        "fields": "select",
        "save": "_sheetSheet1!A5:B8",
        "selfields": [
            ""
        ],
        "cell_l": "1",
        "cell_c": "A",
        "input": "payload",
        "output": "payload",
        "saveType": "msg",
        "inputType": "msg",
        "outputType": "msg",
        "sheetType": "str",
        "rangeType": "str",
        "cell_lType": "str",
        "cell_cType": "str",
        "x": 280,
        "y": 120,
        "wires": [
            [
                "fd0fbf39.353848"
            ],
            []
        ]
    },
    {
        "id": "fd0fbf39.353848",
        "type": "join",
        "z": "cd55794b.d22868",
        "g": "cf3be9f2.e63838",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "2",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 610,
        "y": 120,
        "wires": [
            [
                "c056ae7e.b25dd8"
            ]
        ]
    },
    {
        "id": "9be7f92d.932f38",
        "type": "function",
        "z": "cd55794b.d22868",
        "g": "cf3be9f2.e63838",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 180,
        "wires": [
            [
                "fd0fbf39.353848"
            ]
        ]
    },
    {
        "id": "f6c22c08.a179b8",
        "type": "watch",
        "z": "e4762531.a573f8",
        "name": "Fotoposter Server",
        "files": "/home/nicolaas/Fotoposter Uploads/print service",
        "recursive": true,
        "x": 130,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "18bf67af.237bc8",
        "type": "function",
        "z": "e4762531.a573f8",
        "name": "file entering or deleting? only enter passes",
        "func": "if(msg.type===\"file\"){\n    msg.size=0;\n    return [msg,null];\n}if(msg.type===\"directory\"){\n    return [null,msg];\n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1020,
        "wires": [
            [
                "96e253ce.db81f8"
            ],
            []
        ]
    },
    {
        "id": "96e253ce.db81f8",
        "type": "rbe",
        "z": "e4762531.a573f8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "x": 810,
        "y": 1020,
        "wires": [
            [
                "81d5ac6e.6126f"
            ]
        ]
    },
    {
        "id": "64f0e252.127b4c",
        "type": "join",
        "z": "e4762531.a573f8",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "",
        "propertyType": "full",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "5",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1150,
        "y": 1020,
        "wires": [
            [
                "9bb7bb88.ccc5e8"
            ]
        ]
    },
    {
        "id": "81d5ac6e.6126f",
        "type": "function",
        "z": "e4762531.a573f8",
        "name": "",
        "func": "const filenameArray = msg.filename.split(\"/\");\nconst name = filenameArray[filenameArray.length-4];\nconst order = filenameArray[filenameArray.length-3];\nconst paper = filenameArray[filenameArray.length-2];\nconst filename = filenameArray[filenameArray.length-1];\nconst size = filename.split(\" \")[0];\nconst quantity = filename.split(\" \")[1];\nconst number = filename.split(\" \")[2];\nconst picName = filename.split(\" \")[filename.split(\" \").length-1];\nconst extension= picName.split(\".\")[1];\n\nmsg.name=name;\nmsg.order=order;\nmsg.paper=paper;\nmsg.size=size;\nmsg.quantity=quantity;\nmsg.number=number;\nmsg.picName=picName;\nmsg.extension=extension; \n\nmsg.title= `${name} ${paper} ${size} `;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 1020,
        "wires": [
            [
                "64f0e252.127b4c"
            ]
        ]
    },
    {
        "id": "9bb7bb88.ccc5e8",
        "type": "function",
        "z": "e4762531.a573f8",
        "name": "Wis alle niet nuttige props",
        "func": "const array = msg.payload;\nmsg= {};\nmsg.payload=array;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 1020,
        "wires": [
            [
                "c49cbd81.82a758"
            ]
        ]
    },
    {
        "id": "815ec5e9.e4eb6",
        "type": "inject",
        "z": "e4762531.a573f8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "taskArray",
        "payloadType": "flow",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "7c3fcd1e.a6157c"
            ]
        ]
    },
    {
        "id": "18ca637a.5019a5",
        "type": "debug",
        "z": "e4762531.a573f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 220,
        "wires": []
    },
    {
        "id": "7c3fcd1e.a6157c",
        "type": "function",
        "z": "e4762531.a573f8",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "c2a85668.af2c2",
        "type": "inject",
        "z": "e4762531.a573f8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[ ]",
        "payloadType": "json",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "2862e23b.b734d6"
            ]
        ]
    },
    {
        "id": "2862e23b.b734d6",
        "type": "function",
        "z": "e4762531.a573f8",
        "name": "",
        "func": "flow.set('taskArray',msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "a703b07b.ca1218",
        "type": "function",
        "z": "e4762531.a573f8",
        "name": "",
        "func": "msg.payload={};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 500,
        "wires": [
            [
                "8f990031.86be78"
            ]
        ]
    },
    {
        "id": "c49cbd81.82a758",
        "type": "split",
        "z": "e4762531.a573f8",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1510,
        "y": 1020,
        "wires": [
            [
                "d4bec59c.3fe468"
            ]
        ]
    },
    {
        "id": "504965a9.bf2ccc",
        "type": "ui_button",
        "z": "e4762531.a573f8",
        "name": "",
        "group": "c3bc6778.7cc6b",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Get all orders",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 500,
        "wires": [
            [
                "a703b07b.ca1218"
            ]
        ]
    },
    {
        "id": "1eab4d40.b0831b",
        "type": "function",
        "z": "e4762531.a573f8",
        "name": "",
        "func": "const orderArray = Object.values(msg.payload);\n\nflow.set('orderArray',orderArray);\n//let papers=[];\n//papers = orderArray.map(order=>{paper:order.paper})}\n//msg.options=papers;\n\nfunction onlyUnique(value, index, self) {\n  return self.indexOf(value) === index;\n}\n\n// usage example:\nconst arrayOfPapers= orderArray.map(order=>order.paper);\nconst uniqueArrayOfPapers = arrayOfPapers.filter(onlyUnique);\n\n msg.options=uniqueArrayOfPapers\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 500,
        "wires": [
            [
                "d50218.a3986de8",
                "e4a192e1.c9e7f"
            ]
        ]
    },
    {
        "id": "d4bec59c.3fe468",
        "type": "delay",
        "z": "e4762531.a573f8",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 1640,
        "y": 1020,
        "wires": [
            [
                "c358b44f.7f4ea"
            ]
        ]
    },
    {
        "id": "c0f128ee.827708",
        "type": "fs-list",
        "z": "e4762531.a573f8",
        "name": "",
        "path": "filename",
        "pathType": "msg",
        "pattern": "",
        "patternType": "str",
        "filter": "folders",
        "recursive": true,
        "follow": false,
        "property": "list",
        "propertyType": "msg",
        "x": 760,
        "y": 80,
        "wires": [
            [
                "f3d847a4.7748c8"
            ]
        ]
    },
    {
        "id": "42dcc02e.a6ea48",
        "type": "join",
        "z": "e4762531.a573f8",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "",
        "propertyType": "full",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "2",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 310,
        "y": 120,
        "wires": [
            [
                "8424ce41.9809"
            ]
        ]
    },
    {
        "id": "54f2fe0e.48d64",
        "type": "function",
        "z": "e4762531.a573f8",
        "name": "",
        "func": "const string=msg.file;\nconst newArray=string.split(' ')[0].split('')[0];\n\nif(newArray===\"2\"){\nreturn [msg,null];\n}else{\nreturn [null,msg];\n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 120,
        "wires": [
            [
                "c0f128ee.827708"
            ],
            [
                "de9d6e59.363fc8"
            ]
        ]
    },
    {
        "id": "27be1abb.8cad76",
        "type": "ui_audio",
        "z": "e4762531.a573f8",
        "name": "",
        "group": "c3bc6778.7cc6b",
        "voice": "urn:moz-tts:speechd:English%20(Lancaster)?en",
        "always": true,
        "x": 1140,
        "y": 120,
        "wires": []
    },
    {
        "id": "74aac1db.8fd4e",
        "type": "fs-list",
        "z": "e4762531.a573f8",
        "name": "",
        "path": "filename",
        "pathType": "msg",
        "pattern": "",
        "patternType": "str",
        "filter": "folders",
        "recursive": true,
        "follow": false,
        "property": "list",
        "propertyType": "msg",
        "x": 760,
        "y": 160,
        "wires": [
            [
                "1a88dff3.02e818"
            ]
        ]
    },
    {
        "id": "5e822672.ad59c",
        "type": "fs-list",
        "z": "e4762531.a573f8",
        "name": "",
        "path": "filename",
        "pathType": "msg",
        "pattern": "",
        "patternType": "str",
        "filter": "folders",
        "recursive": true,
        "follow": false,
        "property": "list",
        "propertyType": "msg",
        "x": 1160,
        "y": 160,
        "wires": [
            [
                "84f8f835.c0c238"
            ]
        ]
    },
    {
        "id": "1a88dff3.02e818",
        "type": "function",
        "z": "e4762531.a573f8",
        "name": "new order new client",
        "func": "msg.payload = \"new order from new client\";\nmsg.filename= `${msg.filename}/${msg.list[0]}`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 160,
        "wires": [
            [
                "5e822672.ad59c",
                "27be1abb.8cad76"
            ]
        ]
    },
    {
        "id": "f3d847a4.7748c8",
        "type": "function",
        "z": "e4762531.a573f8",
        "name": "new order known client",
        "func": "msg.payload = \"new order from known client\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 80,
        "wires": [
            [
                "27be1abb.8cad76",
                "84f8f835.c0c238",
                "4636d401.edf764"
            ]
        ]
    },
    {
        "id": "8424ce41.9809",
        "type": "function",
        "z": "e4762531.a573f8",
        "name": "",
        "func": "if(msg.type===\"directory\"){\n    return [msg,null];\n}\nreturn ['no client',msg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 120,
        "wires": [
            [
                "54f2fe0e.48d64"
            ],
            []
        ]
    },
    {
        "id": "a3265725.f15cb",
        "type": "fs-list",
        "z": "e4762531.a573f8",
        "name": "",
        "path": "payload",
        "pathType": "msg",
        "pattern": "",
        "patternType": "str",
        "filter": "files",
        "recursive": true,
        "follow": false,
        "property": "list",
        "propertyType": "msg",
        "x": 1720,
        "y": 120,
        "wires": [
            [
                "e10d014a.1eaea8"
            ]
        ]
    },
    {
        "id": "84f8f835.c0c238",
        "type": "function",
        "z": "e4762531.a573f8",
        "name": "list papers",
        "func": "msg.payload= msg.list.map(paper=> `${msg.filename}/${paper}`) ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 120,
        "wires": [
            [
                "c5cc8dad.11185"
            ]
        ]
    },
    {
        "id": "c5cc8dad.11185",
        "type": "split",
        "z": "e4762531.a573f8",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1590,
        "y": 120,
        "wires": [
            [
                "a3265725.f15cb"
            ]
        ]
    },
    {
        "id": "e10d014a.1eaea8",
        "type": "function",
        "z": "e4762531.a573f8",
        "name": "",
        "func": "const filenameSplitArray = msg.payload.split(\"/\");\n\nconst name = filenameSplitArray[filenameSplitArray.length-3];\nconst ordernr = filenameSplitArray[filenameSplitArray.length-2];\nconst paper = filenameSplitArray[filenameSplitArray.length-1];\nconst filenameArray = msg.list? msg.list: null;\n\nconst orderArrayPerPaper = filenameArray.map(order=> {\nlet size=order.split(\" \")[0];\nlet quantity=order.split(\" \")[1];\nlet number=order.split(\" \")[2];\nlet picName=order.split(\" \")[order.split(\" \").length-1];\nlet extension=order.split(\".\")[1];\nlet title=`${name} ${paper} ${size} `;\nlet date= Date.now();\nlet meteorName=order;\n\nreturn {name,ordernr,paper, size,quantity,number,picName,extension,title,date,meteorName}\n}\n)\n\nmsg.payload = orderArrayPerPaper\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1860,
        "y": 120,
        "wires": [
            [
                "29c5cfd9.1dbcc8"
            ]
        ]
    },
    {
        "id": "29c5cfd9.1dbcc8",
        "type": "split",
        "z": "e4762531.a573f8",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1990,
        "y": 120,
        "wires": [
            [
                "5fc69b16.4f593c"
            ]
        ]
    },
    {
        "id": "4985b7a7.086e38",
        "type": "inject",
        "z": "e4762531.a573f8",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 820,
        "wires": [
            [
                "9b935ccd.d1334"
            ]
        ]
    },
    {
        "id": "9b935ccd.d1334",
        "type": "function",
        "z": "e4762531.a573f8",
        "name": "",
        "func": "msg.payload = {date:1654257383096}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 820,
        "wires": [
            [
                "e573845f.803d2"
            ]
        ]
    },
    {
        "id": "bfcbe9e5.086cb",
        "type": "function",
        "z": "e4762531.a573f8",
        "name": "",
        "func": "const orders = flow.get('orderArray');\nconst paperQuery= msg.payload;\nconst newList= orders.filter(order=>order.paper===paperQuery);\nmsg.payload= newList;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 500,
        "wires": [
            [
                "d50218.a3986de8"
            ]
        ]
    },
    {
        "id": "bcef8f1f.1e70d",
        "type": "function",
        "z": "e4762531.a573f8",
        "name": "",
        "func": "const order=msg.payload;\nconst tasksArray = Object.values(order.tasks);\n\nconst newTaskArray= tasksArray.map(element=> ({...element, order:order}));\nmsg.payload = newTaskArray;\n\n\n\n//[\n  //  {...order,title:`quantity: ${order.quantity}`,isChecked:order.isChecked},\n    //{...order.tasks}\n    //{...order,title: `size: ${order.size}`,isChecked:order.isChecked},\n    //{...order, title: order.name,isChecked:order.isChecked},\n   \n    //]\n\nmsg.order= order;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 580,
        "wires": [
            [
                "cd5ca76e.b38848"
            ]
        ]
    },
    {
        "id": "4636d401.edf764",
        "type": "ui_toast",
        "z": "e4762531.a573f8",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1260,
        "y": 60,
        "wires": []
    },
    {
        "id": "104267a8.e52bd8",
        "type": "debug",
        "z": "e4762531.a573f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1790,
        "y": 600,
        "wires": []
    },
    {
        "id": "af8b3476.7adb28",
        "type": "function",
        "z": "e4762531.a573f8",
        "name": "",
        "func": "const checkedOnOff = msg.payload.isChecked;\nconst order = msg.payload.order;\nconst fix= msg.payload.doing;\n//const taskArray = Object.values(order.tasks);\n\nif(order.tasks[fix].doing===fix){\n    order.tasks[fix].isChecked=checkedOnOff;\n}\n\nconst query = [{meteorName:order.meteorName, date: order.date},{$set:{tasks:order.tasks}}]\n\nmsg.payload=query;\nmsg.order=order;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 580,
        "wires": [
            [
                "f636d848.bb08a"
            ]
        ]
    },
    {
        "id": "5fc69b16.4f593c",
        "type": "function",
        "z": "e4762531.a573f8",
        "name": "put in tasks",
        "func": "const order = msg.payload;\nlet typeCarrier;\nlet carrier;\n\n\n\nif( order.paper.split(\" \")[1]){\ncarrier = order.paper.split(\" \")[1];\ntypeCarrier = carrier.split('_')[0];\n\n}\n\nconst height = order.size.split(\"x\")[0];\nconst width = order.size.split(\"x\")[1];\nconst onlyPaper = order.paper.split(\" \")[0];\n\norder.tasks = {};\norder.tasks.print={title:`print ${onlyPaper} ${order.size}`,isChecked:false, doing:\"print\"};\norder.tasks.cut={title:`cut ${order.size}`, isChecked:false, doing:\"cut\"};\n\n\nif(typeCarrier && typeCarrier===\"MDF\"){\norder.tasks.saw={title: `saw ${carrier} ${Number(height)+20}x${Number(width)+20}`, isChecked:false, doing:\"saw\"};\norder.tasks.milling={title: \"milling + suspensionsystem\", isChecked:false,doing:\"milling\"};\norder.tasks.spray={title: \"spray needed?\", isChecked:false,doing:\"spray\"};\norder.tasks.mountMACTAC={title: `mount MACTAC on ${typeCarrier}`, isChecked:false, doing:\"mountMACTAC\"};\norder.tasks.mountPIC={title: `mount ${order.paper}foto on ${typeCarrier}`,isChecked:false,doing:\"mountPIC\"};\n}\nif(typeCarrier && typeCarrier===\"DIBOND\"){\n    order.tasks.saw={title: `Saw DIBOND ${Number(height)+20}x${Number(width)+20}`, isChecked:false, doing:\"saw\"};\n    order.tasks.frame={title: `frame? ${Number(height)-100}x${Number(width)-100}`, isChecked:false, doing:\"frame\"};\n    order.tasks.spray={title: \"spray\", isChecked:false,doing:\"spray\"};\n    order.tasks.mountMACTAC={title: `mountMACTAC on ${typeCarrier}`,isChecked:false,doing:\"mountMACTAC\"};\n    order.tasks.mountPIC={title: `mountPIC ${onlyPaper} foto on ${carrier}`,isChecked:false,doing:\"mountPIC\"};\n}\n\nmsg.payload= order;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2130,
        "y": 120,
        "wires": [
            [
                "3add75c.1f5b30a"
            ]
        ]
    },
    {
        "id": "e4a192e1.c9e7f",
        "type": "ui_dropdown",
        "z": "e4762531.a573f8",
        "name": "",
        "label": "PAPERS",
        "tooltip": "",
        "place": "Sort by paper",
        "group": "c3bc6778.7cc6b",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 780,
        "y": 500,
        "wires": [
            [
                "bfcbe9e5.086cb"
            ]
        ]
    },
    {
        "id": "feb64d6f.46a158",
        "type": "ui_button",
        "z": "e4762531.a573f8",
        "name": "",
        "group": "c2b0c1a8.af43b",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Delete selected order",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "selectedOrder",
        "payloadType": "flow",
        "topic": "topic",
        "topicType": "msg",
        "x": 1340,
        "y": 520,
        "wires": [
            [
                "95175768.14986"
            ]
        ]
    },
    {
        "id": "9c307090.cb484",
        "type": "function",
        "z": "e4762531.a573f8",
        "name": "create selected order",
        "func": "flow.set('selectedOrder',msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 480,
        "wires": [
            [
                "c6f2db7d.82bfe8"
            ]
        ]
    },
    {
        "id": "c6f2db7d.82bfe8",
        "type": "ui_text",
        "z": "e4762531.a573f8",
        "group": "c2b0c1a8.af43b",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "order:",
        "format": "{{msg.payload.title}}",
        "layout": "row-spread",
        "className": "",
        "x": 1410,
        "y": 480,
        "wires": []
    },
    {
        "id": "95175768.14986",
        "type": "function",
        "z": "e4762531.a573f8",
        "name": "make query",
        "func": "\nconst order = msg.payload;\n\nconst query = [{meteorName:order.meteorName, date: order.date}];\n\nmsg.payload=query;\nmsg.order= order;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1610,
        "y": 520,
        "wires": [
            [
                "487b455a.b04284",
                "4952b3b7.b7448c"
            ]
        ]
    },
    {
        "id": "487b455a.b04284",
        "type": "function",
        "z": "e4762531.a573f8",
        "name": "make title",
        "func": "\nconst order = msg.order;\n\nconst message= `${order.title} is DELETED FROM DATABASE`;\n\nmsg.payload={title:message};\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 400,
        "wires": [
            [
                "c6f2db7d.82bfe8"
            ]
        ]
    },
    {
        "id": "309889d1.1593ee",
        "type": "watch",
        "z": "e4762531.a573f8",
        "name": "TaskBasket",
        "files": "/home/nicolaas/Fotoposter Uploads/taskBasket",
        "recursive": true,
        "x": 110,
        "y": 120,
        "wires": [
            [
                "42dcc02e.a6ea48"
            ]
        ]
    },
    {
        "id": "e1aba178.799108",
        "type": "ui_button",
        "z": "e4762531.a573f8",
        "name": "",
        "group": "c2b0c1a8.af43b",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Delete ALL orders",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "selectedOrder",
        "payloadType": "flow",
        "topic": "topic",
        "topicType": "msg",
        "x": 1330,
        "y": 720,
        "wires": [
            [
                "ce349f89.703c6"
            ]
        ]
    },
    {
        "id": "ce349f89.703c6",
        "type": "function",
        "z": "e4762531.a573f8",
        "name": "make query",
        "func": "\nconst order = msg.payload;\n\nconst query = [{}];\n\nmsg.payload=query;\nmsg.order= order;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1570,
        "y": 720,
        "wires": [
            [
                "aef3bc85.4abdf8",
                "68ad7b0e.519dcc"
            ]
        ]
    },
    {
        "id": "68ad7b0e.519dcc",
        "type": "function",
        "z": "e4762531.a573f8",
        "name": "make title",
        "func": "\nconst order = msg.order;\n\nconst message= `ALL orders are DELETED FROM DATABASE`;\n\nmsg.payload={title:message};\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 400,
        "wires": [
            [
                "c6f2db7d.82bfe8"
            ]
        ]
    },
    {
        "id": "3744f18c.b703fe",
        "type": "fs-stats",
        "z": "e4762531.a573f8",
        "name": "",
        "path": "",
        "pathType": "str",
        "filename": "filename",
        "filenameType": "msg",
        "attr": "",
        "follow": true,
        "property": "stats",
        "propertyType": "msg",
        "x": 920,
        "y": 260,
        "wires": [
            [
                "18ca637a.5019a5"
            ]
        ]
    },
    {
        "id": "de9d6e59.363fc8",
        "type": "function",
        "z": "e4762531.a573f8",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 240,
        "wires": [
            [
                "3744f18c.b703fe",
                "18ca637a.5019a5"
            ]
        ]
    },
    {
        "id": "c358b44f.7f4ea",
        "type": "mongodb3 in",
        "z": "e4762531.a573f8",
        "service": "_ext_",
        "configNode": "7b163364.9970f4",
        "name": "",
        "collection": "Orders",
        "operation": "insertOne",
        "x": 1880,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "8f990031.86be78",
        "type": "mongodb3 in",
        "z": "e4762531.a573f8",
        "service": "_ext_",
        "configNode": "7b163364.9970f4",
        "name": "",
        "collection": "Orders",
        "operation": "find.toArray",
        "x": 440,
        "y": 500,
        "wires": [
            [
                "1eab4d40.b0831b"
            ]
        ]
    },
    {
        "id": "3add75c.1f5b30a",
        "type": "mongodb3 in",
        "z": "e4762531.a573f8",
        "service": "_ext_",
        "configNode": "7b163364.9970f4",
        "name": "",
        "collection": "Orders",
        "operation": "insertOne",
        "x": 2320,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "e573845f.803d2",
        "type": "mongodb3 in",
        "z": "e4762531.a573f8",
        "service": "_ext_",
        "configNode": "7b163364.9970f4",
        "name": "",
        "collection": "Orders",
        "operation": "removeOne",
        "x": 1100,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "f636d848.bb08a",
        "type": "mongodb3 in",
        "z": "e4762531.a573f8",
        "service": "_ext_",
        "configNode": "7b163364.9970f4",
        "name": "",
        "collection": "Orders",
        "operation": "updateOne",
        "x": 820,
        "y": 680,
        "wires": [
            [
                "504965a9.bf2ccc"
            ]
        ]
    },
    {
        "id": "4952b3b7.b7448c",
        "type": "mongodb3 in",
        "z": "e4762531.a573f8",
        "service": "_ext_",
        "configNode": "7b163364.9970f4",
        "name": "",
        "collection": "Orders",
        "operation": "removeOne",
        "x": 1120,
        "y": 680,
        "wires": [
            [
                "504965a9.bf2ccc"
            ]
        ]
    },
    {
        "id": "aef3bc85.4abdf8",
        "type": "mongodb3 in",
        "z": "e4762531.a573f8",
        "service": "_ext_",
        "configNode": "7b163364.9970f4",
        "name": "",
        "collection": "Orders",
        "operation": "removeMany",
        "x": 1850,
        "y": 720,
        "wires": [
            [
                "504965a9.bf2ccc"
            ]
        ]
    },
    {
        "id": "d50218.a3986de8",
        "type": "ui_list",
        "z": "e4762531.a573f8",
        "group": "c3bc6778.7cc6b",
        "name": "WorkList",
        "order": 3,
        "width": "10",
        "height": "12",
        "lineType": "three",
        "actionType": "click",
        "allowHTML": false,
        "outputs": 1,
        "topic": "",
        "x": 800,
        "y": 580,
        "wires": [
            [
                "bcef8f1f.1e70d",
                "9c307090.cb484"
            ]
        ]
    },
    {
        "id": "cd5ca76e.b38848",
        "type": "ui_list",
        "z": "e4762531.a573f8",
        "group": "3a44d775.d58a28",
        "name": "WorkList",
        "order": 1,
        "width": "10",
        "height": "14",
        "lineType": "three",
        "actionType": "check",
        "allowHTML": false,
        "outputs": 1,
        "topic": "msg.order",
        "x": 1200,
        "y": 580,
        "wires": [
            [
                "af8b3476.7adb28",
                "104267a8.e52bd8"
            ]
        ]
    },
    {
        "id": "6765f743.949d58",
        "type": "ui_form",
        "z": "8ee901f.547468",
        "name": "",
        "label": "SEND TO DATABASE",
        "group": "61c56cd.0e58814",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Voornaam",
                "value": "voornaam",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Naam",
                "value": "naam",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Email",
                "value": "email",
                "type": "email",
                "required": true,
                "rows": null
            },
            {
                "label": "Straatnaam",
                "value": "straatnaam",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Huisnr",
                "value": "huisnr",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "bus",
                "value": "bus",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "stad",
                "value": "stad",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "postcode",
                "value": "postcode",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "land",
                "value": "land",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Telefoon",
                "value": "telefoon",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Bedrijfsnaam",
                "value": "bedrijfsnaam",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "btw nr",
                "value": "btw",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Account",
                "value": "account",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "bestellingen",
                "value": "bestellingen",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Jaar omzet",
                "value": "jaaromzet",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "totaal aankopen",
                "value": "totaalomzet",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "job",
                "value": "job",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "extra",
                "value": "extra",
                "type": "multiline",
                "required": false,
                "rows": 3
            }
        ],
        "formValue": {
            "voornaam": "",
            "naam": "",
            "email": "",
            "straatnaam": "",
            "huisnr": "",
            "bus": "",
            "stad": "",
            "postcode": "",
            "land": "",
            "telefoon": "",
            "bedrijfsnaam": "",
            "btw": "",
            "account": "",
            "bestellingen": "",
            "jaaromzet": "",
            "totaalomzet": "",
            "job": "",
            "extra": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": true,
        "className": "",
        "x": 240,
        "y": 240,
        "wires": [
            [
                "cf028b6b.c65ea"
            ]
        ]
    },
    {
        "id": "96718d2.b64b67",
        "type": "ui_text",
        "z": "8ee901f.547468",
        "group": "7f3b916.23329f",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "naam",
        "format": "{{msg.payload.naam||msg.payload.ops[0].naam}}",
        "layout": "row-spread",
        "className": "",
        "x": 1530,
        "y": 240,
        "wires": []
    },
    {
        "id": "8db0b33d.f87ae8",
        "type": "ui_text",
        "z": "8ee901f.547468",
        "group": "7f3b916.23329f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "voornaam",
        "format": "{{msg.payload.voornaam||msg.payload.ops[0].voornaam}}",
        "layout": "row-spread",
        "className": "",
        "x": 1540,
        "y": 280,
        "wires": []
    },
    {
        "id": "1f652f05.d4a969",
        "type": "ui_text",
        "z": "8ee901f.547468",
        "group": "7f3b916.23329f",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "email",
        "format": "{{msg.payload.email||msg.payload.ops[0].email}}",
        "layout": "row-spread",
        "className": "",
        "x": 1530,
        "y": 320,
        "wires": []
    },
    {
        "id": "334fdf3b.38801",
        "type": "ui_text",
        "z": "8ee901f.547468",
        "group": "7f3b916.23329f",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "straatnaam",
        "format": "{{msg.payload.straatnaam||msg.payload.ops[0].straatnaam}}",
        "layout": "row-spread",
        "className": "",
        "x": 1550,
        "y": 360,
        "wires": []
    },
    {
        "id": "95593543.aa46d",
        "type": "ui_text",
        "z": "8ee901f.547468",
        "group": "7f3b916.23329f",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "huisnr",
        "format": "{{msg.payload.huisnr||msg.payload.ops[0].huisnr}}",
        "layout": "row-spread",
        "className": "",
        "x": 1530,
        "y": 400,
        "wires": []
    },
    {
        "id": "6f7d5697.3265f",
        "type": "ui_text",
        "z": "8ee901f.547468",
        "group": "7f3b916.23329f",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "stad",
        "format": "{{msg.payload.stad||msg.payload.ops[0].stad}}",
        "layout": "row-spread",
        "className": "",
        "x": 1530,
        "y": 440,
        "wires": []
    },
    {
        "id": "2c9b19f8.32e2e6",
        "type": "ui_text",
        "z": "8ee901f.547468",
        "group": "7f3b916.23329f",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "telefoon",
        "format": "{{msg.payload.telefoon||msg.payload.ops[0].telefoon}}",
        "layout": "row-spread",
        "className": "",
        "x": 1540,
        "y": 480,
        "wires": []
    },
    {
        "id": "3a9b7d53.0488a2",
        "type": "ui_text",
        "z": "8ee901f.547468",
        "group": "7f3b916.23329f",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "bedrijfsnaam",
        "format": "{{msg.payload.bedrijfsnaam||msg.payload.ops[0].bedrijfsnaam}}",
        "layout": "row-spread",
        "className": "",
        "x": 1550,
        "y": 520,
        "wires": []
    },
    {
        "id": "32aae1d5.a5e80e",
        "type": "ui_text",
        "z": "8ee901f.547468",
        "group": "7f3b916.23329f",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "btw",
        "format": "{{msg.payload.btw||msg.payload.ops[0].btw}}",
        "layout": "row-spread",
        "className": "",
        "x": 1530,
        "y": 560,
        "wires": []
    },
    {
        "id": "1e020c5f.25d9cc",
        "type": "ui_text",
        "z": "8ee901f.547468",
        "group": "7f3b916.23329f",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "account",
        "format": "{{msg.payload.account||msg.payload.ops[0].account}}",
        "layout": "row-spread",
        "className": "",
        "x": 1540,
        "y": 600,
        "wires": []
    },
    {
        "id": "8ab7b31d.4d0738",
        "type": "ui_text",
        "z": "8ee901f.547468",
        "group": "7f3b916.23329f",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "bestellingen",
        "format": "{{msg.payload.bestellingen||msg.payload.ops[0].bestellingen}}",
        "layout": "row-spread",
        "className": "",
        "x": 1550,
        "y": 640,
        "wires": []
    },
    {
        "id": "48b8091.660abf8",
        "type": "ui_text",
        "z": "8ee901f.547468",
        "group": "7f3b916.23329f",
        "order": 13,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "jaaromzet",
        "format": "{{msg.payload.jaaromzet||msg.payload.ops[0].jaaromzet}}",
        "layout": "row-spread",
        "className": "",
        "x": 1540,
        "y": 680,
        "wires": []
    },
    {
        "id": "c823e1d1.55bf68",
        "type": "ui_text",
        "z": "8ee901f.547468",
        "group": "7f3b916.23329f",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "totaalomzet",
        "format": "{{msg.payload.totaalomzet||msg.payload.ops[0].totaalomzet}}",
        "layout": "row-spread",
        "className": "",
        "x": 1550,
        "y": 720,
        "wires": []
    },
    {
        "id": "4110d003.aaedc8",
        "type": "ui_text",
        "z": "8ee901f.547468",
        "group": "7f3b916.23329f",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "job",
        "format": "{{msg.payload.job||msg.payload.ops[0].job}}",
        "layout": "row-spread",
        "className": "",
        "x": 1530,
        "y": 760,
        "wires": []
    },
    {
        "id": "d882e193.41e1f8",
        "type": "ui_text",
        "z": "8ee901f.547468",
        "group": "7f3b916.23329f",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "extra",
        "format": "{{msg.payload.extra||msg.payload.ops[0].extra}}",
        "layout": "row-spread",
        "className": "",
        "x": 1530,
        "y": 800,
        "wires": []
    },
    {
        "id": "94ce6701.a0253",
        "type": "debug",
        "z": "8ee901f.547468",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 780,
        "wires": []
    },
    {
        "id": "8f103303.60bf1",
        "type": "ui_form",
        "z": "8ee901f.547468",
        "name": "",
        "label": "GET INFO FROM DATABASE",
        "group": "3c118995.5cc616",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Voornaam",
                "value": "voornaam",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Naam",
                "value": "naam",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "voornaam": "",
            "naam": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": true,
        "className": "",
        "x": 270,
        "y": 300,
        "wires": [
            [
                "5cdf30fc.3b9a18"
            ]
        ]
    },
    {
        "id": "752bc5a0.524d24",
        "type": "ui_form",
        "z": "8ee901f.547468",
        "name": "",
        "label": "UPDATE DATABASE",
        "group": "3c118995.5cc616",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Voornaam",
                "value": "voornaam",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Naam",
                "value": "naam",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Email",
                "value": "email",
                "type": "email",
                "required": false,
                "rows": null
            },
            {
                "label": "Straatnaam",
                "value": "straatnaam",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Huisnr",
                "value": "huisnr",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "bus",
                "value": "bus",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "stad",
                "value": "stad",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "postcode",
                "value": "postcode",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "land",
                "value": "land",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Telefoon",
                "value": "telefoon",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Bedrijfsnaam",
                "value": "bedrijfsnaam",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "btw nr",
                "value": "btw",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Account",
                "value": "account",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "bestellingen",
                "value": "bestellingen",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Jaar omzet",
                "value": "jaaromzet",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "totaal aankopen",
                "value": "totaalomzet",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "job",
                "value": "job",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "extra",
                "value": "extra",
                "type": "multiline",
                "required": false,
                "rows": 3
            }
        ],
        "formValue": {
            "voornaam": "",
            "naam": "",
            "email": "",
            "straatnaam": "",
            "huisnr": "",
            "bus": "",
            "stad": "",
            "postcode": "",
            "land": "",
            "telefoon": "",
            "bedrijfsnaam": "",
            "btw": "",
            "account": "",
            "bestellingen": "",
            "jaaromzet": "",
            "totaalomzet": "",
            "job": "",
            "extra": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "client",
        "topicType": "flow",
        "splitLayout": true,
        "className": "",
        "x": 480,
        "y": 420,
        "wires": [
            [
                "bfd5a1bd.673f08"
            ]
        ]
    },
    {
        "id": "13baa4e1.7264ab",
        "type": "function",
        "z": "8ee901f.547468",
        "name": "store in flow",
        "func": "flow.set('client',msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 420,
        "wires": [
            [
                "752bc5a0.524d24"
            ]
        ]
    },
    {
        "id": "bfd5a1bd.673f08",
        "type": "function",
        "z": "8ee901f.547468",
        "name": "",
        "func": "const updateQuery= [{naam:msg.topic.naam, voornaam:msg.topic.voornaam},{$set:msg.payload},true];\nmsg.payload = updateQuery;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 420,
        "wires": [
            [
                "c59f3f4.f03a34"
            ]
        ]
    },
    {
        "id": "abbb344d.ce02f",
        "type": "ui_button",
        "z": "8ee901f.547468",
        "name": "",
        "group": "64e7ca33.693114",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Get All Names",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 560,
        "wires": [
            [
                "aa0cf334.be209"
            ]
        ]
    },
    {
        "id": "a3f7cf1a.e5ce18",
        "type": "function",
        "z": "8ee901f.547468",
        "name": "",
        "func": "const totalArray = Object.values(msg.payload);\nconst nameArray = totalArray.map(client=> {\n    client.title= `${client.naam} ${client.voornaam}`;\n    return client;\n});\n\n\n\nfunction SortArray(x, y){\n    if (x.naam < y.naam) {return -1;}\n    if (x.naam > y.naam) {return 1;}\n    return 0;\n}\nconst nameArraySorted = nameArray.sort(SortArray);\n\n\n\nmsg.payload = nameArraySorted;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 560,
        "wires": [
            [
                "9242564.d73a528"
            ]
        ]
    },
    {
        "id": "eccc3f8e.45b2c8",
        "type": "function",
        "z": "8ee901f.547468",
        "name": "Make query",
        "func": "const naam = msg.payload.naam;\nconst voornaam = msg.payload.voornaam;\nconst query = {naam,voornaam};\nmsg.payload = query;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 560,
        "wires": [
            [
                "5cdf30fc.3b9a18"
            ]
        ]
    },
    {
        "id": "cf028b6b.c65ea",
        "type": "mongodb3 in",
        "z": "8ee901f.547468",
        "service": "_ext_",
        "configNode": "7b163364.9970f4",
        "name": "",
        "collection": "Klanten",
        "operation": "insertOne",
        "x": 1200,
        "y": 240,
        "wires": [
            [
                "8db0b33d.f87ae8",
                "1f652f05.d4a969",
                "334fdf3b.38801",
                "95593543.aa46d",
                "6f7d5697.3265f",
                "2c9b19f8.32e2e6",
                "3a9b7d53.0488a2",
                "32aae1d5.a5e80e",
                "1e020c5f.25d9cc",
                "8ab7b31d.4d0738",
                "48b8091.660abf8",
                "c823e1d1.55bf68",
                "4110d003.aaedc8",
                "d882e193.41e1f8",
                "96718d2.b64b67"
            ]
        ]
    },
    {
        "id": "5cdf30fc.3b9a18",
        "type": "mongodb3 in",
        "z": "8ee901f.547468",
        "service": "_ext_",
        "configNode": "7b163364.9970f4",
        "name": "",
        "collection": "Klanten",
        "operation": "findOne",
        "x": 1200,
        "y": 300,
        "wires": [
            [
                "96718d2.b64b67",
                "8db0b33d.f87ae8",
                "1f652f05.d4a969",
                "334fdf3b.38801",
                "95593543.aa46d",
                "6f7d5697.3265f",
                "2c9b19f8.32e2e6",
                "3a9b7d53.0488a2",
                "32aae1d5.a5e80e",
                "1e020c5f.25d9cc",
                "8ab7b31d.4d0738",
                "48b8091.660abf8",
                "c823e1d1.55bf68",
                "4110d003.aaedc8",
                "d882e193.41e1f8",
                "13baa4e1.7264ab"
            ]
        ]
    },
    {
        "id": "c59f3f4.f03a34",
        "type": "mongodb3 in",
        "z": "8ee901f.547468",
        "service": "_ext_",
        "configNode": "7b163364.9970f4",
        "name": "",
        "collection": "Klanten",
        "operation": "findOneAndUpdate",
        "x": 890,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "aa0cf334.be209",
        "type": "mongodb3 in",
        "z": "8ee901f.547468",
        "service": "_ext_",
        "configNode": "7b163364.9970f4",
        "name": "",
        "collection": "Klanten",
        "operation": "find.toArray",
        "x": 610,
        "y": 560,
        "wires": [
            [
                "a3f7cf1a.e5ce18",
                "94ce6701.a0253"
            ]
        ]
    },
    {
        "id": "9242564.d73a528",
        "type": "ui_list",
        "z": "8ee901f.547468",
        "group": "64e7ca33.693114",
        "name": "",
        "order": 1,
        "width": "6",
        "height": "10",
        "lineType": "two",
        "actionType": "click",
        "allowHTML": false,
        "outputs": 1,
        "topic": "",
        "x": 1010,
        "y": 560,
        "wires": [
            [
                "eccc3f8e.45b2c8"
            ]
        ]
    }
]